In [10]:
import pandas as pd

In [4]:
Data=pd.DataFrame({
    
    "SPECIE":["AGROPYRON", "AILANTHUS", "ALLIARIA", "ALOPECURUS", "ALTERNANTHERA", "ANTHEMIS"],
    "INFESTANTE":[False, False, True, True, False, False],
    "DIAMETRO FUSTO CM":[4.5,5.2,2.1,1.0,7.6,8.0],
    "ALTEZZA MASSIMA CM":[55.8, 60.9, 44.2, 66.0, 23.5, 12.0]
    
})

Data

          SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0

In [22]:
Data=pd.DataFrame(([['AGROPYRON', False, 4.5, 55.8], ['AILANTHUS', False, 5.2, 60.9], ['ALLIARIA', True,2.1,44.2], ['ALOPECURUS',True,1.0,66.0],['ALTERNANTHERA', False, 7.6, 23.5], ['ANTHEMIS',False, 8.0, 12.0]]),

columns=['SPECIE','INFESTANTE','DIAMETRO FUSTO CM','ALTEZZA MASSIMA CM'])

Data

          SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0

In [24]:
Data.describe

<bound method NDFrame.describe of           SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0>

In [25]:
Data.shape

(6, 4)

In [26]:
Data.size

24

In [28]:
specie=Data['SPECIE']
specie

0        AGROPYRON
1        AILANTHUS
2         ALLIARIA
3       ALOPECURUS
4    ALTERNANTHERA
5         ANTHEMIS
Name: SPECIE, dtype: object