In [1]:
import pandas as pd


women_shoes = pd.concat(map(pd.read_csv, ['Datafiniti_Womens_Shoes.csv', 'Datafiniti_Womens_Shoes_Jun19.csv', '7210_1.csv']))
women_shoes

C:\Users\bossi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (13,16,18,22,24,32,33,40,41,47,51) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.warranty,quantities,reviews,skus,vin,websiteIDs,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33796,AVsUxZClnnc1JgDc4Mev,2017-03-28T11:55:43Z,2017-03-28T11:55:43Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Blue,NaN,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T10:04:21.331Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33797,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33798,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33799,AVticmzVnnc1JgDc5Uym,2017-04-12T13:55:17Z,2017-04-13T20:44:29Z,B06XZJTJBT,City Classified,"Clothing,,Women,Shoes,Pumps",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33800,AVtidDQ-nnc1JgDc5U4Q,2017-04-12T13:57:14Z,2017-04-13T20:41:27Z,B0188Y3WM2,Vionic,"Women,Shoes,Sandals,Clothing,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
women_shoes.info()

In [ ]:
women_shoes['brand'] = women_shoes['brand'].str.replace('journee collection', 'Journee Collection ')
women_shoes

In [ ]:
women_shoes['brand'].value_counts().head(n=20)

In [ ]:
women_shoes.info()

In [2]:
women_shoes = women_shoes[['brand','categories', 'prices.amountMax', 'prices.amountMin','prices.currency', 'colors', 'name','sizes','features','reviews']]
women_shoes

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews
0,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",55.99,55.99,USD,"Silver,Cream Watercolor Floral",Naturalizer Danya Women N/S Open Toe Synthetic...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",NaN,NaN
1,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",47.00,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
2,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",35.25,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
3,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",24.75,24.75,USD,Black,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
4,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",33.00,30.39,USD,Grey,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
33796,Novica,"Access.,Clothing,Shoes,Women's Clothing",43.19,43.19,USD,Blue,Handcrafted Cotton Blend 'Garden in Blue' Card...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33797,Novica,"Access.,Clothing,Shoes,Women's Clothing",39.99,39.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33798,Novica,"Access.,Clothing,Shoes,Women's Clothing",35.99,35.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33799,City Classified,"Clothing,,Women,Shoes,Pumps",25.64,25.64,USD,NaN,City Classified Women's Closed Toe Mary Jane C...,NaN,NaN,NaN
33800,Vionic,"Women,Shoes,Sandals,Clothing,",47.99,47.99,USD,NaN,Vionic Women's Jura Sandals,NaN,NaN,NaN

In [3]:
import json
import math
import sys


def extract_averge_review(reviews):
    try:
        if (type(reviews) == float):
            return None
        
        if (type(reviews) != str):
            #print( f"WARN not a string but a {type(reviews)} {reviews}" )
            return None
        
        reviews = reviews.replace("\\\\", "\\")
        kvs = json.loads(reviews)
        ratings = []
        for kv in kvs:
            if("rating" in kv):
                #print( f"\n\n{kv}" )
                ratings.append( float( kv["rating"] ) )
                
        #print( f"\n\n{ratings}" )
        
        # questo blocco è per fare qualcosa di utile con i voti di un prodotto.
        # ad esempio in questo caso viene calcolata la media delle recensioni
        if len(ratings) == 0:
            return None
        else:
            total = 0.0
            for r in ratings:
                total = total + r
            avg = total / len(ratings)
            return avg        
                
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        #print( f"WARN '{err_type}' '{err_value}' parsing {reviews}" )
        return None

In [4]:
reduced_women = pd.DataFrame()
reduced_women['brand'] = women_shoes['brand']
reduced_women['categories'] = women_shoes['categories']
reduced_women['prices.amountMax'] = women_shoes['prices.amountMax']
reduced_women['prices.amountMin'] = women_shoes['prices.amountMin']
reduced_women['prices.currency'] = women_shoes['prices.currency']
reduced_women['colors'] = women_shoes['colors'] 
reduced_women['name'] = women_shoes['name']
reduced_women['sizes'] = women_shoes['sizes'] 
reduced_women['features'] = women_shoes['features']
reduced_women['reviews'] = women_shoes['reviews'].apply(extract_averge_review)
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews
0,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",55.99,55.99,USD,"Silver,Cream Watercolor Floral",Naturalizer Danya Women N/S Open Toe Synthetic...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",NaN,NaN
1,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",47.00,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
2,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",35.25,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
3,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",24.75,24.75,USD,Black,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
4,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",33.00,30.39,USD,Grey,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
33796,Novica,"Access.,Clothing,Shoes,Women's Clothing",43.19,43.19,USD,Blue,Handcrafted Cotton Blend 'Garden in Blue' Card...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33797,Novica,"Access.,Clothing,Shoes,Women's Clothing",39.99,39.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33798,Novica,"Access.,Clothing,Shoes,Women's Clothing",35.99,35.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33799,City Classified,"Clothing,,Women,Shoes,Pumps",25.64,25.64,USD,NaN,City Classified Women's Closed Toe Mary Jane C...,NaN,NaN,NaN
33800,Vionic,"Women,Shoes,Sandals,Clothing,",47.99,47.99,USD,NaN,Vionic Women's Jura Sandals,NaN,NaN,NaN

In [5]:
reduced_women['medium_price'] = (reduced_women['prices.amountMax']+reduced_women['prices.amountMin'])/2
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price
0,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",55.99,55.99,USD,"Silver,Cream Watercolor Floral",Naturalizer Danya Women N/S Open Toe Synthetic...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",NaN,NaN,55.990
1,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",47.00,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN,41.125
2,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",35.25,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN,35.250
3,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",24.75,24.75,USD,Black,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN,24.750
4,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",33.00,30.39,USD,Grey,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN,31.695
...,...,...,...,...,...,...,...,...,...,...,...
33796,Novica,"Access.,Clothing,Shoes,Women's Clothing",43.19,43.19,USD,Blue,Handcrafted Cotton Blend 'Garden in Blue' Card...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN,43.190
33797,Novica,"Access.,Clothing,Shoes,Women's Clothing",39.99,39.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN,39.990
33798,Novica,"Access.,Clothing,Shoes,Women's Clothing",35.99,35.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN,35.990
33799,City Classified,"Clothing,,Women,Shoes,Pumps",25.64,25.64,USD,NaN,City Classified Women's Closed Toe Mary Jane C...,NaN,NaN,NaN,25.640
33800,Vionic,"Women,Shoes,Sandals,Clothing,",47.99,47.99,USD,NaN,Vionic Women's Jura Sandals,NaN,NaN,NaN,47.990

In [6]:
rows = reduced_women["categories"].unique()
#print(rows)
s = set()
for row in rows:
    #print("-- " + row)
    categories = row.split(",")
    for category in categories:
        ##print("---- " + category)
        s.add(category)

print(s)

{'', 'Reneeze', '298 in', 'Bags  Shoes', 'Womens Oxfords', 'Wrist Watches', 'See more Jambu Endeavor Women US 8 Black Loafer Pre Own...', 'Comfort', 'See more Kenneth Cole Reactio Slim Shake Women US 7 Bla...', 'See more Sesto Meucci 5001 Womens Wedge Pump- Choose Sz...', 'See more Jessica Simpson Sabella Women US 7.5 Nude Pre ...', 'Premium Womens Shoes', 'Premium Shoes', 'Old Friend', 'Baseball Cleats', '944 in', 'Devious', 'Vince Camuto', 'All Costumes', '#23400 in', 'Wild Diva', '#244 in', '#312 in', 'Cleats', 'Herstar', "Men's Casual Shoes", '#989 in', '#3591 in', "Women's New Balance Shoes", '#1', "Women's Casual Boots & Shoes", 'Bellini', 'Toys', 'Outdoor', 'Costumes', 'Industrial', 'Novica', 'Riding Boots', 'Medicine Cabinet', 'Nomad', 'Leather & Suede', '#3414 in', '#3', 'See more BCBGeneration 5280 Womens Kurt Brown Leather H...', 'Cross-Training Shoes', 'Golf', 'Walking', "Women's Shoes", 'Skechers', 'Equestrian Sports', 'Celeste', 'Wedges', 'David Tate', 'Canvas Shoes', 'Rocky 4EurSole', "Women's Slippers", 'Other Slip-Ons', 'Soft Style by Hush Puppies', 'Slippers', 'Footzyrolls', '#73234 in', 'Swimwear', "Women's Designer Shoes", 'Collectible Figurines', 'A2 by Aerosoles', 'Dromedaris', 'Platforms & Wedges', 'Womens Casual Shoes', 'Over-the-Knee', 'Slip Ons/Moc', 'Shops', 'worldstock fair trade', 'See more ALDO 6422 Womens Vitaly Black Leather HEELS Kn...', "Women's Sandals", 'Lamo', 'Boys Shoes', "Women's Fragrances", 'Eastland', 'Womens Over-the-knee Boots', 'Dyeables', 'See more ASICS Gelsolution Speed 2 Womens Tennis Shoe', "Women's Workwear Accessories", 'MUK LUKS', '#125027 in', 'Leather Suede', 'Athletic Shoes', 'Accessories', 'Toning Shoes', 'All Womens Flats', '#10000 in', '326 in', 'See more Louise Et Cie Esperance Women US 10.5 Black Sl...', 'See more Michael Kors Fulton Harness Rainbootie Black W...', "Men's Protective Eyewear", 'See more SeaVees 6086 Womens Villager Brown Canvas Leat...', 'Specialty Shops', '242 in', 'Womens Tops T-Shirts', 'Professional & Trade Workwear', 'Trail Running', 'Womens Dress Shoes', 'Shoes By Sport', 'Rain Footwear', 'Contemporary', ' Shoes', 'Boots', 'Wedge', 'Azura', 'Sam Edelman', "Women's Boots", 'Propet', 'Character Shop', 'ASICS', 'Power Tools', 'Home Décor', 'USA Dawgs', ' Shoes & Accessories', 'Collection', "Women's Protective Eyewear", 'Vaneli', 'Clothing & Shoes', 'Gifts', "Women's Skirts", 'See more Ryka Hydro Sport Blue Silver Womens Training S...', '#23880 in', 'Ann Creek', 'Naturalizer', 'Crocs', "See more Women's Minnetonka Moccasin Thunderbird II Moc...", 'Protective Gear', 'Refresh', "Women's Steel-Toed Boots", 'Extended Size Shoes', '#5242 in', 'Work Safety Clothing and Equipment', 'Olivia Miller', 'Sports & Outdoors', 'See more Mercanti Fiorentini Destiny Women US 7 Black F...', 'Low Slide Sandals', 'See more Via Spiga Lilac Womens Size 7 Silver Leather B...', 'Bikes', 'SIDEKICK', 'Fila', 'See more Khombu 0650 Womens JAS Black Leather Winter BO...', '#7483 in', '#29262 in', 'NaturalSoul by naturalizer', 'Demonia', 'Fahrenheit', 'Knee-High Boots', 'Health', "Women's Wear to Work", 'Journee Collection', 'Mules', 'Girls Shoes', 'madden NYC', 'Safety Apparel', 'Steel-Toed Boots', 'Hailey Jeans Co.', "Men's Workwear Accessories", 'Halloween Shoes', 'Sandals & Flip Flops', 'Mark and Maddux', 'Simply Vera Vera Wang', 'Croft', 'Qupid', '#819 in', 'Ara', 'Stability', "Women's Winter Boots", "Dr. Scholl's", 'Womens Sandals & Flip Flops', "Juniors'", 'Pleaser', 'Athletic', "Women's Weather Boots", "Men's Activewear", "Women's Bags  Shoes", 'LC Lauren Conrad', 'Petite Swimsuits', 'Forever Collectibles', 'Performance Snow Boots', 'Skiing', 'Beston', 'All Halloween Costumes', 'Luichiny', 'Shop by Sport', 'Workwear & Uniforms', 'RocSoc', 'Womens Slip-resistant', 'Driving Shoes', '#341 in', 'Athletic Apparel', 'Home Décor Accents', 'Wide Calf', "Women's Footwear", "Women's Trail Running Shoes", 'Thong Sandals', 'Swimwear for the Family', ' Accessories', 'Cliffs By White Mountain', 'See more Easy Spirit Dorlisa Women US 8 Blue Mules Blem...', "Mother's Day", 'Womens Boots', '#9497 in', 'Motorsport', '#3531 in', "Girls' Shoes", 'Loafers', 'Soccer', 'K-Swiss', 'Block Heel', 'Koolaburra by UGG', 'Adidas', 'Womens Comfort', 'Cell', 'See more Auth Gucci Women Patent Leather High Heel Shoe...', 'Travel Duffels', 'Slip-On Slippers', 'ADI', "Men's Clothing", 'Womens Comfort Boots & Booties', '#6', 'Uniforms', 'Water Sports', 'All Womens Shoes', 'Corkys', 'All Boys Shoes', "See more Dr. Scholl's 9024 Womens Sprint White Running ...", 'Safety Clothing', 'Flip-Flops', '#100 in', 'All Wide Shoes', 'Sport Sandals', '#766 in', 'See more Rampage Imelda Brown Tall Riding BOOTS Womens ...', 'DimeCity', 'Boots On Sale', 'Bath Tissue', '#4029 in', 'Adriana', 'Handbags', 'Easy Street', 'Oxford', 'Hiking Shoes', "Women's Clothing Store", 'Rain', 'Unionbay', 'Knee-High', 'SONOMA Goods for Life', 'Oxfords', 'Girls Slippers', 'Premium Womens Slippers', 'Home', "Men's Shoes", 'Shoes Boots', 'Baby & Kids Shoes', 'Baby', 'Ankle Boots', 'FUNTASMA', '#99214 in', 'Access.', 'Womens Coats Jackets', 'All Work Shoes', 'Indian Selections', ' Work & Safety', "Men's Athletic Shoes", 'Infinity', 'Shoes Under $100', 'Apparel', 'clothing', 'Active', '#17465 in', 'Winter', 'See more Penny Loves Kenny 3560 Womens Dallas Black Qui...', 'Shoes & Handbags', 'See more Michael Kors MK Flex Pump Merlot Womens Suede ...', 'Womens Oxford & Loafers', 'Boys', 'Scrub Bottoms', 'Heeled Sandals', 'Golf Shoes', 'Women%27s Fashion', 'Sporting Goods', 'Jennifer Lopez', 'sugar', 'Fitness Gear', 'Designer Collections', 'Brinley Co.', "Candie's", 'Intimates & Sleepwear', "All Juniors' Clothing", "Women's Scrubs", 'By Recipient', '#805 in', 'Flats', 'Horse Care Equipment', 'Outlet', '#1757 in', "Women's Watches", 'Cross Training', "Women's Character Shop", 'Enzo Angiolini', "Women's Athletic Shoes", 'Nike', 'Scrubs', 'Fragrances', "Men's Sandals", 'Winter Shoes', 'Muk Luks', 'Shop by Clothing Type', 'Platform', 'Pumps', 'Flat', 'See more Marc Fisher Frenchie Women US 7.5 Black Ankle ...', 'Backpacking Boots', 'Foot Care', '#206 in', 'Academie Gear', 'Slip-ons', 'Dance & Gymnastics', 'See more Women Bearpaw Knit Tall Boot 658w Black 100 Au...', '#23703 in', 'Sale', 'Hades', 'Peep Toe', 'See more La Gear Ladies La Lights Latw80-3 Red Black Wo...', 'Apt. 9', 'Baby Shoes', 'American Rag', 'UGG', 'See more LifeStride 9770 Womens Sasha Black Riding BOOT...', 'Work Boots', "Women's Accessories", 'Ballet', 'Gotta Flurt', 'Skateboarding', '#5111 in', 'LILIANA', 'Loafers Slip-Ons', '#27 in', "See more ASICS Women's Gel-nimbus 16 Running Shoe Light...", 'Men', 'Charles by Charles David', "Women's Golf Clothing", 'See more Mizuno 9spike Swift 4 Womens Metal Softball Cl...', "Women's Swimwear", 'Leisureland', 'Shoes', 'Personal Care', 'Fashion Brands', 'Outdoor Sports', 'See more Tecnica Moon Boot Nylon White Womens Winter BO...', 'Henry Ferrera', 'Mary Jane Flats', 'Figurines', 'Sneakers & Athletic Shoes', 'Mid-Calf', "Women's Dress Shoes", '#350          in', '#350 in', 'Electronics', 'AdTec', "Women's Flats", '#7', 'Sandals', '#5058 in', 'Rose Petals by Walking Cradles', 'REEF', 'Basketball Shoes', "Men's Slippers", 'Sweats & Hoodies', 'BearPaw', 'Rieker-Antistress', 'Blue', 'Occupational', 'Valentine%27s Day', 'Womens Sandals Flip-flops', 'Bowling', 'See more Steve Madden Evrlast Women US 6 Gold Flats Ble...', 'Wristwatches', '#2298 in', '#2', 'Moccasins', 'FILA', "Women's Clothing", 'Jumpsuits & Rompers', 'Gladiator Sandals', 'Worldstock Fair Trade', 'Betula by Birkenstock', 'Espadrille', 'See more Aerosoles On Stage Women US 10 White Slides Sa...', 'Women', 'Special Offers', '2 Lips Too', 'Ankle Straps', 'Fergalicious', 'BETANI', 'Dance', 'shoes', 'See more Born Silvie Women US 10 Black Loafer Pre Owned...', '#187 in', '#151 in', 'All Girls Shoes', 'Pin Up', 'Clogs', 'See more Harley-Davidson Summer Womens Black Leather Sl...', 'Rain Boots', 'household essentials', 'Patio', 'Anniversary Sale', '289 in', 'Safety & Shop Gear', 'Womens Occupational & Safety', 'Watches', 'Womens Sport Sandals', 'Shoes Outlet', 'See more Sam Edelman 8902 Womens Petty Black Suede BOOT...', 'Diba True', 'In-sattva', 'See more Vince Camuto Chayton Women US 7.5 Brown Loafer...', 'Intimates Accessories', 'See more VANS Authentic Lo Pro Cosmic Galaxy Black Blue...', "Men's Boots", 'Women%27s', '#97541 in', 'Walking Shoes', '#468 in', 'Trendsetter', '#50297 in', 'Mid-Calf Boots', 'adidas', 'See more Marc Fisher Kessler Womens Size 10 Brown Leath...', 'See more Crush by Durango Womens Brown Heartbreaker Boo...', 'toys', 'OTBT', 'Medical', 'See more Inc International Concepts Jema Womens Size 9....', '#317 in', 'Ellie', 'Spring Step', 'Work', 'Running Gear', 'Kelsi Dagger', 'Water Shoes', 'Juniors Skirts', 'Delicious', 'Running Shoes', '#2703 in', 'Aerosoles', 'Madeline', 'Asics', 'See more Michael Kors Fulton MOC Washed Denim Shoes Fla...', 'Golf Equipment', "Women's Work & Safety Shoes", 'Racing', 'Tennis', 'Climbing', 'Minibasics', 'Bags', 'Booties', 'Hiking Boots', 'Fine', 'See more Giani Bernini Emalia Women US 9.5 Black Flats ...', 'Footwear', 'See more Cole Haan 6200 Womens Stephanie Air OT Taupe P...', 'Laredo', 'Toi et Moi', 'Home Improvement', 'Bamboo', "Men's Workwear & Uniforms", 'Altra Footwear', 'Safety', 'See more Michael Kors York Platform PEEP Toe Textile Pl...', 'Fastpitch Softball Cleats', 'Skate Shoes', 'Prescription Eyewear Frames', 'Shoes & Accessories', '#819          in', 'Apex', 'Flip Flop Slippers', "Girl's Accessories", 'Womens Flats', ' Theater', "Women's Workwear & Uniforms", '#544 in', 'See more Bogs 1654 Womens Gray Plaid Waterproof Rubber ...', 'All Action Sports', 'Hand Tools', '#37963 in', "Women's Running Shoes", 'Basketball', 'Premium Womens Comfort', 'Kisses by 2 Lips Too', 'See more ASICS GEL Nimbus 17 T557n 4301 Shoes Womens SN...', 'Premium Brands', "Men's Character Shop", "See more Women's Hush Puppies Angel II Soft Style PUMPS...", 'Heeled', 'Andrew Geller', 'Beacon Shoes', 'Swimming', '#5', 'All Shoes', 'Womens', 'Road Running', 'Tools', "Womens' Athletic Shoes", 'Shapewear', 'Fitness', '#31079 in', "Girls' Boots", 'Style Charles by Charles David', '#6904 in', 'Nine West', 'Teen Girl', 'Clarks', 'Ryka', 'Gladiator', 'Sneakers', 'Baby & Toddler Shoes', '#27273 in', 'Slides', 'Loafers & Slip-Ons', "Women's", 'Barrow', 'Keds', 'Espadrilles', 'Fashions for Her', 'See more Womens Lug Sole Buckle Strap Motorcycle Mid Ca...', 'See more Reebok Crossfit Nano 5 Womens Fitness Shoes Ye...', '483          in', 'Juniors Clothing', '#2616 in', 'New Arrivals', 'See more Fashion Focus Ea45 Womens Platform Flip-flop C...', 'Office Safety & Security', "Women's Road Running Shoes", 'Gravity Defyer', 'Nina', 'Lace-Ups', 'Party & Occasions', 'LifeStride', 'NYLA', 'Action Sports Outlet', 'Narrow Calf', 'Team Sports', 'AnyWear', "Women's Red Wing Shoes", 'PUMA', 'Hair Accessories', "All Women's Shoes", 'Premium Womens Boots', "All Men's Shoes", 'Pointed Toe', 'Luggage', 'Dress Shoes for the Family', 'Daniel Green', 'See more Pajar 1695 Womens Iceberg Brown Suede Winter B...', '#3289 in', 'Womens Flats D*Orsay', 'New Balance', 'C Label', 'Casual Lace', 'Womens Shoes', 'Apparel & Accessories', '483 in', 'See more Dingo 5299 Womens Sonnet Brown Cowboy Western ...', ' Shoes & Jewelry', 'Fashion Focus', "Women's Cleats", 'All Womens Comfort', '748 in', 'Baby Girls', 'See more Vince Camuto 3520 Womens Lorim Black Platform ...', '#37 in', 'Office Supplies', 'Safety Glasses & Face Shields', 'Clothing', 'Racquet Sports', "See more Easy Street Kacey Women's Size 11w Wide", 'Fashion Sneakers', 'UNNAV', 'Under Armour', 'See more American Rag Jessie Womens Size 7.5 Black Faux...', 'Halloween', 'Neutral', '757 in', 'Easy Spirit', 'Wedge Pumps', ' Reenactment', 'Training', 'Seven7', "Women's Casual Shoes", "D'Orsay", 'FIC', 'Cowboy Boots', 'Halloween Accessories', 'Boat Shoes', 'See more Seychelles Outspoken Women US 8 Black Knee Hig...', '885 in', 'Running', 'Sports', 'Mary Jane Medium', 'Beauty', 'Designer Shoes', 'Flats Under $100', 'Lane Boots', 'NAYA', 'Boot Bags', 'Moccasin Slippers', 'Dolce by Mojo Moxy', 'Designer', 'Fastpitch Softball', 'For Her', 'Cole Haan', "All Women's Clothing", 'Nature Breeze', 'Premium All Womens Shoes', 'Fabulicious', "Women's Suits & Sets", 'Lugz', 'Medical Uniforms', 'By Personality', 'See more Baretraps Sinclair Womens Size 8 Black Leather...', 'Womens Blouses Shirts', 'Easter Gifts', 'See more Easy Spirit 6010 Womens Elk Black Suede Winter...', 'Toe Warmers', 'Anne Klein', 'Suits & Blazers', 'Vans', "Boys' Shoes", '#6326 in', '#101628 in', '#3580 in', 'Handbag Organizers', 'Mary Pepper', 'Rampage', 'Jewelry', 'Handbag Accessories', '#82 in', 'Womens Sandals', 'Heels', 'Troentorp Bastad Clogs', 'Petite Clothing', ' Running & Yoga', 'Acorn', "Women's Golf Shoes"}

In [7]:
to_save = ['Sneakers', 'Fashion Sneakers','Nike', 'Team Sports', 'Sports', 'Adidas', 'Basketball','Gravity Defyer',"Womens' Athletic Shoes",'Trendsetter','Athletic', 'Slip-ons','Skateboarding', 'Basketball Shoes','Running','Walking Shoes', 'Running Shoes',"Women's Athletic Shoes", "See more ASICS Women's Gel-nimbus 16 Running Shoe Light...", 'Skechers']
def cat_def(x):
    p = ''
    for cat_to_save in to_save:
        if cat_to_save in x :
            return cat_to_save

   

            
#reduced_women['my_categories']=reduced_women['categories'].apply(cat_def)
#reduced_women
            


#reduced_women['categories'].apply(cat_def)

In [8]:
reduced_women['my_categories']=reduced_women['categories'].apply(cat_def)

In [9]:
reduced_women = reduced_women[reduced_women['my_categories'].isnull()==False]
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories
27,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Sneakers
28,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Sneakers
29,SKECHERS,"Sneakers,Womens Shoes,Clothing,Work Safety Clo...",75.00,75.00,USD,Black,76580 W Wide Width Black Skechers Shoe New Wom...,"5,5.5,6,6.5,7.5,9.5,9.5 WIDE,7",NaN,NaN,75.00,Sneakers
30,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,44.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,47.49,Skechers
31,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,49.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,49.99,Skechers
...,...,...,...,...,...,...,...,...,...,...,...,...
33757,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Slip-ons
33758,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Slip-ons
33759,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Slip-ons
33760,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Slip-ons
33761,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Slip-ons

In [10]:
reduced_women['my_categories'].value_counts()

Slip-ons                  2228
Sneakers                  2210
Athletic                  1728
Womens' Athletic Shoes    1004
Running                    297
Adidas                      60
Skechers                    58
Sports                      56
Gravity Defyer              38
Team Sports                 34
Nike                        31
Walking Shoes               27
Trendsetter                 14
Basketball                   1
Name: my_categories, dtype: int64

Raggruppo su categorie più specifiche: Sneakers (rifermiento ai marchi). Sports,

In [11]:
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Adidas', 'Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Nike', 'Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace("Womens' Athletic Shoes", 'Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Slip-ons','Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Gravity Defyer', 'Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Team Sports','Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Walking Shoes', 'Outdoor')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Basketball', 'Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Trendsetter', 'Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Skechers', 'Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Running', 'Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Sports', 'Athletic')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Sneakers','Urban')
reduced_women['my_categories']= reduced_women['my_categories'].str.replace('Running','Athletic')
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories
27,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Urban
28,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Urban
29,SKECHERS,"Sneakers,Womens Shoes,Clothing,Work Safety Clo...",75.00,75.00,USD,Black,76580 W Wide Width Black Skechers Shoe New Wom...,"5,5.5,6,6.5,7.5,9.5,9.5 WIDE,7",NaN,NaN,75.00,Urban
30,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,44.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,47.49,Urban
31,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,49.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,49.99,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
33757,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban
33758,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban
33759,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban
33760,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban
33761,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban

In [12]:
reduced_women['my_categories'].value_counts()

Urban       4601
Athletic    3158
Outdoor       27
Name: my_categories, dtype: int64

In [13]:

import json
import math
import sys

In [14]:
def extract_material(features_json):
    # [{"key":"Material","value":["Suede"]},{"key":"Gender","value":["Men"]},{"key":"Color","value":["Beige"]},{"key":"Model","value":["M254TNN"]},{"key":"Manufacturer Part Number","value":["M254TNN"]},{"key":"Brand","value":["New Balance Numeric"]},{"key":"Age Group","value":["Adult"]}]    
    try:
        if (type(features_json) == float):
            return None
        
        if (type(features_json) != str):
            print( f"WARN not a string but a {type(features_json)} {features_json}" )
            return None
        
        features_json = features_json.replace("\\\\", "\\")
        kvs = json.loads(features_json)
        for kv in kvs:
            if(kv["key"] == "Material"):
                return kv["value"][0]
            
        return None
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        print( f"WARN '{err_type}' '{err_value}' parsing {features_json}" )
        return None

In [15]:
reduced_women['material']=reduced_women['features'].apply(extract_material)
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material
27,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Urban,None
28,SKECHERS,"Womens,Sneakers,Womens Casual Shoes,Womens Sho...",85.00,85.00,USD,Black,Skechers Women's Skech-Air Lingle Black Memory...,"6,6.5,7,7.5,8,8.5,9,9.5,10,11",NaN,NaN,85.00,Urban,None
29,SKECHERS,"Sneakers,Womens Shoes,Clothing,Work Safety Clo...",75.00,75.00,USD,Black,76580 W Wide Width Black Skechers Shoe New Wom...,"5,5.5,6,6.5,7.5,9.5,9.5 WIDE,7",NaN,NaN,75.00,Urban,None
30,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,44.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,47.49,Urban,None
31,SKECHERS,"Womens,Womens Shoes,Clothing,Women's Shoes,All...",49.99,49.99,USD,"Taupe,White",Skechers 38562BLK Women's RUMBLERS - HOTSHOT S...,"5,6,7,8,9,10,11",NaN,NaN,49.99,Urban,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33757,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban,None
33758,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban,None
33759,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban,None
33760,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban,None
33761,Skechers,"Shoes,Slip-ons,Women's Shoes",44.36,44.36,USD,NaN,Women's Skechers Relaxed Fit Breathe Easy Fait...,NaN,NaN,NaN,44.36,Urban,None

In [16]:
reduced_women = reduced_women[reduced_women['material'].isnull()==False]

In [17]:
rows = reduced_women['material'].unique()
#print(rows)
s = set()
for row in rows:
    #print("-- " + row)
    categories = row.split(",")
    for category in categories:
        ##print("---- " + category)
        s.add(category)

print(s)

{'leather', 'Textile', 'Fabric/Man Made', 'Flyknit', 'Synthetic/Mesh', 'Glitter', 'Canvas', 'Man Made', 'Leather', 'polyester', 'No Material Tag', 'Synthetic/Nylon/Rubber', 'Synthetic', 'Synthetic/Nylon', 'Synthetic-And-Mesh', 'Leather/Man Made', 'Leather/Lorica', 'Synthetic-And-Leather', 'Suede', 'Canvas/Suede', 'canvas', 'Cork', 'leather-and-fabric', 'MESH', 'Leather-And-Synthetic', 'Wool', 'Lightweight Fabric/Foam', 'Mesh', 'Synthetic Upper/Rubber Sole', 'Faux Suede', 'Man Made/Fabric', '.', 'Patent-Leather', 'Unknown', 'Synthetic Leather', 'rubber'}

In [18]:
mat_to_save = ['rubber','canvas','Suede','Synthetic','Textile','Leather','Flyknit','Wool','Mesh','polyester','Cork','Man Made','leather','MESH','Synthetic-And-Mesh','Synthetic/Nylon/Rubber','Patent-Leather','Synthetic/Mesh','Synthetic Upper/Rubber Sole','Faux Suede','Synthetic Leather','Canvas/Suede']

In [19]:
def mat_def(x):
    for mat in mat_to_save:
        if mat in x :
            return (mat)
    return 'altro'

   

            
reduced_women['my_material']=reduced_women['material'].apply(mat_def)
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,MESH
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,MESH
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather

In [20]:
reduced_women['my_material'].value_counts()

Synthetic    203
Mesh         200
Leather       98
altro         59
Textile       49
Suede         35
polyester      7
Flyknit        7
Wool           6
Man Made       4
rubber         3
leather        3
MESH           2
Cork           1
canvas         1
Name: my_material, dtype: int64

In [21]:
reduced_women['my_material']  = reduced_women['my_material'].str.replace('MESH', 'Mesh')
reduced_women['my_material']  = reduced_women['my_material'].str.replace('leather', 'Leather')
reduced_women['my_material']  = reduced_women['my_material'].str.replace('polyester','Synthetic')
reduced_women['my_material']  = reduced_women['my_material'].str.replace('Man Made', 'Synthetic')
reduced_women['my_material']  = reduced_women['my_material'].str.replace('Sinthetic','Synthetic')
reduced_women['my_material']  = reduced_women['my_material'].str.replace('canvas', 'Textile')
reduced_women['my_material']  = reduced_women['my_material'].str.replace( 'Cork', 'Textile')
reduced_women['my_material']  = reduced_women['my_material'].str.replace( 'Wool','Textile')
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,Mesh
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,Mesh
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather

In [22]:
reduced_women['my_material'].value_counts()

Synthetic    214
Mesh         202
Leather      101
altro         59
Textile       57
Suede         35
Flyknit        7
rubber         3
Name: my_material, dtype: int64

In [23]:
reduced_women=reduced_women[reduced_women["colors"].isnull()==False]
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,Mesh
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,IRIDESCENTPINKCAPRI BLUE,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,Mesh
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multi-Color,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather

In [24]:
reduced_women['colors']  = reduced_women['colors'].str.replace('Multi-Colored', 'Multicolor')
reduced_women['colors']  = reduced_women['colors'].str.replace('Multi-Color', 'Multicolor')
reduced_women['colors']  = reduced_women['colors'].str.replace('Tea', 'Orange')
reduced_women['colors']  = reduced_women['colors'].str.replace('Oxfordblood', 'Red')
reduced_women['colors']  = reduced_women['colors'].str.replace('Vivid Sulfur', 'Black')
reduced_women['colors']  = reduced_women['colors'].str.replace('BLK', 'Black')
reduced_women['colors']  = reduced_women['colors'].str.replace('Sandstone', 'Natural')
reduced_women['colors']  = reduced_women['colors'].str.replace('OcgWhtMpt', 'White')
reduced_women['colors']  = reduced_women['colors'].str.replace('Indigo Tropical', 'Blue')
reduced_women['colors']  = reduced_women['colors'].str.replace('Fuchsia', 'Purple')
reduced_women['colors']  = reduced_women['colors'].str.replace('Pure PlatinumBlackHotLava', 'Black')
reduced_women['colors']  = reduced_women['colors'].str.replace('Linen', 'Natural')
reduced_women['colors']  = reduced_women['colors'].str.replace('Beige', 'Natural')
reduced_women['colors']  = reduced_women['colors'].str.replace('VebWhtMed', 'White')
reduced_women['colors']  = reduced_women['colors'].str.replace('BlackBright Cherry SuedeTextile', 'Red')
reduced_women['colors']  = reduced_women['colors'].str.replace('NtrlBlcdblc','Black')
reduced_women['colors']  = reduced_women['colors'].str.replace('Anthracite','Grey')
reduced_women['colors']  = reduced_women['colors'].str.replace('Tan', 'Natural')
reduced_women['colors']  = reduced_women['colors'].str.replace('Hypr Orng', 'Orange')
reduced_women['colors']  = reduced_women['colors'].str.replace('Bright CrimsonDeep GarnetWht','Red')
reduced_women['colors']  = reduced_women['colors'].str.replace('Gray','Grey')
reduced_women['colors']  = reduced_women['colors'].str.replace('Coffee', 'Brown')
reduced_women['colors']  = reduced_women['colors'].str.replace('Citron','Yellow')
reduced_women['colors']  = reduced_women['colors'].str.replace('Oranges','Orange')
reduced_women['colors']  = reduced_women['colors'].str.replace('Slime', 'Multicolor')
reduced_women['colors']  = reduced_women['colors'].str.replace('IRIDESCENTPINKCAPRI BLUE','Multicolor')
reduced_women['colors']  = reduced_women['colors'].str.replace('Bleached LilacBleached Lilac','Purple')
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,Mesh
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,Mesh
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather

In [25]:
rows = reduced_women['colors'].unique()
#print(rows)
s = set()
for row in rows:
    #print("-- " + row)
    categories = row.split(",")
    for category in categories:
        ##print("---- " + category)
        s.add(category)

print(s)

{'Atomic MangoMetallic Silver', 'Ember GlowArctic Orange', 'RoyalWhite', 'WhiteFuschia', 'SparkleNatural', 'LightningWhiteTurquoise', 'Lt Yllw', 'WhitePink', 'WhiteHot PinkEmerald', 'BlackPink Zing', 'Blk', 'Vizi Orange', 'Dark GreyWhiteBlack', 'Natural', 'WineBlack', 'Dark GreyOrangelLight Green', 'Orange', 'Green', 'WhiteBlue', 'SilverPink', 'OatmealOatmealOatmealBlack', 'WhiteBluePink', 'Yellow', 'Hot Pink', 'BlackPinkGreySilver', 'BlkWhite', 'Sassy Brown', 'Blue', 'BlueSIlver', 'Deep BlueWhiteHot Pink', 'Pure PlatinumBlackHot Lava', 'Coral', 'Black', 'OnyxPurpleMint', 'EmeraldSilverEmerald', 'Nbl BlueNvyWht', 'White Leather', 'BlackBlack', 'Sand', 'Mesh', 'Purple', 'Beach GlassDiva PinkMint', 'Red', 'Brown', 'Off-White', 'GreyMulticolorPink', 'HerWhtLml', 'Gold', 'Silver', 'Grey', 'Blue BlkTrWt', 'Vvd PurpleWhiteBlkOrange', 'BlackWhiteDark GreyAnthrct', 'Pink BlastBlkElctrc GrnWhite', 'Pink', 'YellowBlueCoral', 'White', 'White Synthetic', 'PinkWhite', 'BlackWhite', 'BlackBlackWhite', 'CoralGrey', 'NaturalRoyal Purple', 'DrkShdw', 'WhiteBlackWhite', 'Multicolor', 'Vizi OrangeYellow', 'White Blue', 'WhiteBlueR', 'ParchmentBlackWhite', 'Dazzling BlueBlack', 'SilverTurquoiseLime Punch', 'University RedBrght CrmsnBlk', 'WhiteVirtual Pink', 'Pure PlatinumBlckWlf GryWht', 'BlackBlack Cool Grey', 'True White', 'BlueOrangePink', 'TpinkWhiteGlg', 'Vvd Purple', 'BlackWhiteCool GreyGrey', 'BlackWhiteGrey', 'TurquoiseSharp GreenInk', 'Oxblood'}

In [26]:
col_to_save = ['Black', 'Pink', 'Red','White', 'Silver', 'Blue', 'Grey', 'Multicolor', 'Purple', 'Yellow','Green','Gold', 'Brown','Natural']

In [27]:
def col_def(x):
    for col in col_to_save:
        if col in x :
            return (col)

reduced_women['my_colors']=reduced_women['colors'].apply(col_def)
reduced_women

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material,my_colors
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,Mesh,Multicolor
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,Mesh,Multicolor
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic,White
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile,Multicolor
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile,Multicolor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather,Brown
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather,Brown
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather,Brown
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather,Black
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather,Black

In [28]:
reduced_women=reduced_women[reduced_women['my_colors'].isnull()==False]
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews,medium_price,my_categories,material,my_material,my_colors
161,ASICS,"Athletic,Women's Shoes",159.99,159.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,159.99,Athletic,MESH,Mesh,Multicolor
162,ASICS,"Athletic,Women's Shoes",99.99,99.99,USD,Multicolor,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent...,7,"[{""key"":""Style"",""value"":[""GEL-NIMBUS 16""]},{""k...",NaN,99.99,Athletic,MESH,Mesh,Multicolor
323,New Balance,"Women's Shoes,Athletic",44.99,44.99,USD,White,New Balance Ww496 Women Us 9 White Walking Shoe,9,"[{""key"":""Style"",""value"":[""Walking""]},{""key"":""E...",NaN,44.99,Athletic,Synthetic,Synthetic,White
392,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",39.66,39.66,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,39.66,Athletic,Textile,Textile,Multicolor
393,Vans,"Women's Shoes,Athletic,See more VANS Authentic...",35.99,35.99,USD,Multicolor,A1650 - Vans Authentic Lo Pro Shoes * New Wome...,8,"[{""key"":""Style"",""value"":[""Skate / Casual""]},{""...",NaN,35.99,Athletic,Textile,Textile,Multicolor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather,Brown
24590,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.90,56.90,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.90,Athletic,Leather,Leather,Brown
24591,Sperry,"Boots,Shoes,Women's Shoes,Clothing,Women's Ath...",56.43,56.43,USD,Brown,Sperry Top-Sider Women's Heron Seal Brown Leat...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,56.43,Athletic,Leather,Leather,Brown
24691,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",69.90,69.90,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,69.90,Athletic,Leather,Leather,Black
24692,Converse,"Shoes,Women's Shoes,Womens' Athletic Shoes,Ath...",65.00,65.00,USD,"Black,BlackBlack",Converse Women's Chuck Taylor All Star Madison...,NaN,"[{""key"":""Shoe Width"",""value"":[""Medium"",""B(M)""]...",NaN,65.00,Athletic,Leather,Leather,Black

In [29]:
women_price = reduced_women[['my_categories', 'my_material','medium_price','my_colors']]
#women_price['medium_price'] = women_price['medium_price'].round()
women_price

      my_categories my_material  medium_price   my_colors
161        Athletic        Mesh        159.99  Multicolor
162        Athletic        Mesh         99.99  Multicolor
323        Athletic   Synthetic         44.99       White
392        Athletic     Textile         39.66  Multicolor
393        Athletic     Textile         35.99  Multicolor
...             ...         ...           ...         ...
24589      Athletic     Leather         56.90       Brown
24590      Athletic     Leather         56.90       Brown
24591      Athletic     Leather         56.43       Brown
24691      Athletic     Leather         69.90       Black
24692      Athletic     Leather         65.00       Black

[518 rows x 4 columns]

In [30]:
women_price = pd.get_dummies(women_price, columns = ['my_categories', 'my_material','my_colors'])
women_price

,medium_price,my_categories_Athletic,my_categories_Outdoor,my_categories_Urban,my_material_Flyknit,my_material_Leather,my_material_Mesh,my_material_Suede,my_material_Synthetic,my_material_Textile,...,my_colors_Green,my_colors_Grey,my_colors_Multicolor,my_colors_Natural,my_colors_Pink,my_colors_Purple,my_colors_Red,my_colors_Silver,my_colors_White,my_colors_Yellow
161,159.99,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
162,99.99,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
323,44.99,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
392,39.66,1,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
393,35.99,1,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24589,56.90,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24590,56.90,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24591,56.43,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24691,69.90,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24692,65.00,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#women_price.info()

In [31]:
import pandas as pd

# To interact with files
import os

# Python library to chart data.
import matplotlib.pyplot as plt

# Python library for math computations.
import numpy as np

# Pandas module for scatter matrix.
from pandas.plotting import scatter_matrix

In [32]:
def split_train_test(data, test_ratio):
    
    # crea un array con i numeri 1, 2... fino alla lunghezza dei dati, in cui i numeri appaiono in ordine casuale
    # es:  [34, 12, 92, 1, ...] 
    shuffled_indices = np.random.permutation( len(data) )
    
    # calcola la dimensione dei dati di test come percentuale di tutti i dati
    test_set_size = int(len(data) * test_ratio)
    
    # estrae i numeri disordinati presenti nelle posizioni [0 - test_set_size)
    test_indices = shuffled_indices[:test_set_size]
    
    # estrae i numeri disordinati presenti nelle posizioni [test_set_size, fine]
    train_indices = shuffled_indices[test_set_size:]
    
    # restituisce due data frame
    # 1. con i dati i cui indici sono negli indici di training
    # 2. con i dati i cui indici sono negli indici di test
    return data.iloc[train_indices], data.iloc[test_indices]

train_set, test_set = split_train_test(women_price, 0.2)

In [33]:
X = train_set.drop(columns=['medium_price'])
y = train_set['medium_price'].copy()

In [34]:
#from sklearn.tree  import make_regression
#from sklearn.tree import DecisionTreeRegressor


#X = women_price.drop(['medium_price'], axis = 1)
#y = women_price.iloc[:,0]

In [35]:
X

,my_categories_Athletic,my_categories_Outdoor,my_categories_Urban,my_material_Flyknit,my_material_Leather,my_material_Mesh,my_material_Suede,my_material_Synthetic,my_material_Textile,my_material_altro,...,my_colors_Green,my_colors_Grey,my_colors_Multicolor,my_colors_Natural,my_colors_Pink,my_colors_Purple,my_colors_Red,my_colors_Silver,my_colors_White,my_colors_Yellow
24591,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1928,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20897,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
21177,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5291,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12713,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17169,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8786,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21655,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
23346,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [36]:
y

24591     56.43
1928      58.99
20897     74.95
21177    114.90
5291       3.00
          ...
12713    104.90
17169     66.90
8786       8.99
21655     68.99
23346     69.90
Name: medium_price, Length: 415, dtype: float64

In [37]:
from sklearn.model_selection import train_test_split

#Train test split
#train_test_split(X, y, test_size=0.2, shuffle=True, random_state=3)

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

from sklearn.pipeline import Pipeline

In [39]:
pipeline = Pipeline([
        ('std_scaler', StandardScaler()),
    ])

In [40]:

lin_reg = LinearRegression()
lin_reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
price_to_predict = [
    [
    1, # categoria  
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0    # materiale  
    ]     
]

#houses_to_predict = housing_features[0:3]

print(price_to_predict)

# Prediction
prediction = lin_reg.predict(price_to_predict )

print( prediction ) # pay attention here, data is transformed!