In [1]:
import pandas as pd


women_shoes = pd.concat(map(pd.read_csv, ['Datafiniti_Womens_Shoes.csv', 'Datafiniti_Womens_Shoes_Jun19.csv', '7210_1.csv']))
women_shoes

C:\Users\bossi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (13,16,18,22,24,32,33,40,41,47,51) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.warranty,quantities,reviews,skus,vin,websiteIDs,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33796,AVsUxZClnnc1JgDc4Mev,2017-03-28T11:55:43Z,2017-03-28T11:55:43Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Blue,NaN,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T10:04:21.331Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33797,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33798,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33799,AVticmzVnnc1JgDc5Uym,2017-04-12T13:55:17Z,2017-04-13T20:44:29Z,B06XZJTJBT,City Classified,"Clothing,,Women,Shoes,Pumps",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33800,AVtidDQ-nnc1JgDc5U4Q,2017-04-12T13:57:14Z,2017-04-13T20:41:27Z,B0188Y3WM2,Vionic,"Women,Shoes,Sandals,Clothing,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
women_shoes.info()

In [ ]:
women_shoes = women_shoes[['brand','categories', 'prices.amountMax', 'prices.amountMin','prices.currency', 'colors', 'name','sizes','features','reviews']]
women_shoes

In [4]:
import json
import math
import sys


def extract_averge_review(reviews):
    try:
        if (type(reviews) == float):
            return None
        
        if (type(reviews) != str):
            #print( f"WARN not a string but a {type(reviews)} {reviews}" )
            return None
        
        reviews = reviews.replace("\\\\", "\\")
        kvs = json.loads(reviews)
        ratings = []
        for kv in kvs:
            if("rating" in kv):
                #print( f"\n\n{kv}" )
                ratings.append( float( kv["rating"] ) )
                
        #print( f"\n\n{ratings}" )
        
        # questo blocco è per fare qualcosa di utile con i voti di un prodotto.
        # ad esempio in questo caso viene calcolata la media delle recensioni
        if len(ratings) == 0:
            return None
        else:
            total = 0.0
            for r in ratings:
                total = total + r
            avg = total / len(ratings)
            return avg        
                
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        #print( f"WARN '{err_type}' '{err_value}' parsing {reviews}" )
        return None

In [5]:
reduced_women = pd.DataFrame()
reduced_women['brand'] = women_shoes['brand']
reduced_women['categories'] = women_shoes['categories']
reduced_women['prices.amountMax'] = women_shoes['prices.amountMax']
reduced_women['prices.amountMin'] = women_shoes['prices.amountMin']
reduced_women['prices.currency'] = women_shoes['prices.currency']
reduced_women['colors'] = women_shoes['colors'] 
reduced_women['name'] = women_shoes['name']
reduced_women['sizes'] = women_shoes['sizes'] 
reduced_women['features'] = women_shoes['features']
reduced_women['reviews'] = women_shoes['reviews'].apply(extract_averge_review)
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews
0,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",55.99,55.99,USD,"Silver,Cream Watercolor Floral",Naturalizer Danya Women N/S Open Toe Synthetic...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",NaN,NaN
1,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",47.00,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
2,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",35.25,35.25,USD,Grey,MUK LUKS Womens Jane Suede Moccasin,"10,7,6,9,8",NaN,NaN
3,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",24.75,24.75,USD,Black,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
4,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",33.00,30.39,USD,Grey,MUK LUKS Womens Dawn Suede Scuff Slipper,"10,7,6,9,8",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
33796,Novica,"Access.,Clothing,Shoes,Women's Clothing",43.19,43.19,USD,Blue,Handcrafted Cotton Blend 'Garden in Blue' Card...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33797,Novica,"Access.,Clothing,Shoes,Women's Clothing",39.99,39.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33798,Novica,"Access.,Clothing,Shoes,Women's Clothing",35.99,35.99,USD,Red,Handcrafted Acrylic Alpaca Blend 'Red Dreamcat...,NaN,"[{""key"":""Worldstock Country"",""value"":[""Peru""]}...",NaN
33799,City Classified,"Clothing,,Women,Shoes,Pumps",25.64,25.64,USD,NaN,City Classified Women's Closed Toe Mary Jane C...,NaN,NaN,NaN
33800,Vionic,"Women,Shoes,Sandals,Clothing,",47.99,47.99,USD,NaN,Vionic Women's Jura Sandals,NaN,NaN,NaN

In [8]:
reduced_women=reduced_women[reduced_women["reviews"].isnull()==False]
reduced_women

,brand,categories,prices.amountMax,prices.amountMin,prices.currency,colors,name,sizes,features,reviews
0,Novica,"Access.,Clothing,Shoes,Women's Clothing",62.99,62.99,USD,Purple,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,NaN,"[{""key"":""Pattern"",""value"":[""Solid""]},{""key"":""W...",5.000000
1,Novica,"Access.,Clothing,Shoes,Women's Clothing",62.99,62.99,USD,Purple,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,NaN,"[{""key"":""Pattern"",""value"":[""Solid""]},{""key"":""W...",5.000000
2,Novica,"Access.,Clothing,Shoes,Women's Clothing",62.99,62.99,USD,Purple,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,NaN,"[{""key"":""Pattern"",""value"":[""Solid""]},{""key"":""W...",5.000000
3,Novica,"Access.,Clothing,Shoes,Women's Clothing",62.99,62.99,USD,Purple,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,NaN,"[{""key"":""Pattern"",""value"":[""Solid""]},{""key"":""W...",5.000000
4,Novica,"Access.,Clothing,Shoes,Women's Clothing",62.99,62.99,USD,Purple,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,NaN,"[{""key"":""Pattern"",""value"":[""Solid""]},{""key"":""W...",5.000000
...,...,...,...,...,...,...,...,...,...,...
29182,DF by Dearfoams,"Clothing,Shoes,Women's Shoes,All Women's Shoes",7.47,7.47,USD,"Pewter Dots,Black Dots",DF by Dearfoams Women's Micro Fiber Terru Open...,NaN,"[{""key"":""Shoe Category"",""value"":[""Women's Shoe...",4.555556
29183,Unbranded,"Clothing,Shoes,Women's Shoes,All Women's Shoes",14.97,12.94,USD,Black,Women's Comfort Sandal,NaN,"[{""key"":""Shoe Category"",""value"":[""Women's Shoe...",5.000000
29184,Unbranded,"Clothing,Shoes,Women's Shoes,All Women's Shoes",14.97,10.83,USD,Black,Women's Comfort Sandal,NaN,"[{""key"":""Shoe Category"",""value"":[""Women's Shoe...",5.000000
29185,Unbranded,"Clothing,Shoes,Women's Shoes,All Women's Shoes",14.97,10.48,USD,Black,Women's Comfort Sandal,NaN,"[{""key"":""Shoe Category"",""value"":[""Women's Shoe...",5.000000
29187,Big Buddha,"Clothing,Shoes,Women's Shoes,All Women's Shoes",19.72,19.72,USD,COGNAC,Big Buddha Women's Multi Strap Heel Casual Dre...,NaN,"[{""key"":""Shoe Category"",""value"":[""Women's Shoe...",5.000000