In [2]:
import pandas as pd

In [3]:
Data=pd.DataFrame({
    
    "SPECIE":["AGROPYRON", "AILANTHUS", "ALLIARIA", "ALOPECURUS", "ALTERNANTHERA", "ANTHEMIS"],
    "INFESTANTE":[False, False, True, True, False, False],
    "DIAMETRO FUSTO CM":[4.5,5.2,2.1,1.0,7.6,8.0],
    "ALTEZZA MASSIMA CM":[55.8, 60.9, 44.2, 66.0, 23.5, 12.0]
    
})

Data

          SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0

In [4]:
Data=pd.DataFrame(([['AGROPYRON', False, 4.5, 55.8], ['AILANTHUS', False, 5.2, 60.9], ['ALLIARIA', True,2.1,44.2], ['ALOPECURUS',True,1.0,66.0],['ALTERNANTHERA', False, 7.6, 23.5], ['ANTHEMIS',False, 8.0, 12.0]]),

columns=['SPECIE','INFESTANTE','DIAMETRO FUSTO CM','ALTEZZA MASSIMA CM'])

Data

          SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0

In [5]:
Data.describe

<bound method NDFrame.describe of           SPECIE  INFESTANTE  DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
0      AGROPYRON       False                4.5                55.8
1      AILANTHUS       False                5.2                60.9
2       ALLIARIA        True                2.1                44.2
3     ALOPECURUS        True                1.0                66.0
4  ALTERNANTHERA       False                7.6                23.5
5       ANTHEMIS       False                8.0                12.0>

In [6]:
Data.shape

(6, 4)

In [7]:
Data.size

24

In [8]:
specie=Data['SPECIE']
specie

0        AGROPYRON
1        AILANTHUS
2         ALLIARIA
3       ALOPECURUS
4    ALTERNANTHERA
5         ANTHEMIS
Name: SPECIE, dtype: object

In [11]:
print(Data.iloc[-2])

SPECIE                ALTERNANTHERA
INFESTANTE                    False
DIAMETRO FUSTO CM               7.6
ALTEZZA MASSIMA CM             23.5
Name: 4, dtype: object

In [12]:
print(Data.iloc[2][1])

True

In [13]:
print(Data.iloc[2][2])

2.1

In [14]:
Data.describe()

       DIAMETRO FUSTO CM  ALTEZZA MASSIMA CM
count           6.000000            6.000000
mean            4.733333           43.733333
std             2.829605           21.691995
min             1.000000           12.000000
25%             2.700000           28.675000
50%             4.850000           50.000000
75%             7.000000           59.625000
max             8.000000           66.000000

In [15]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SPECIE              6 non-null      object
 1   INFESTANTE          6 non-null      bool
 2   DIAMETRO FUSTO CM   6 non-null      float64
 3   ALTEZZA MASSIMA CM  6 non-null      float64
dtypes: bool(1), float64(2), object(1)
memory usage: 278.0+ bytes

In [16]:
print(sorted(specie))

['AGROPYRON', 'AILANTHUS', 'ALLIARIA', 'ALOPECURUS', 'ALTERNANTHERA', 'ANTHEMIS']

In [17]:
print(specie)

0        AGROPYRON
1        AILANTHUS
2         ALLIARIA
3       ALOPECURUS
4    ALTERNANTHERA
5         ANTHEMIS
Name: SPECIE, dtype: object

In [18]:
print(sorted(specie, reverse=True))

['ANTHEMIS', 'ALTERNANTHERA', 'ALOPECURUS', 'ALLIARIA', 'AILANTHUS', 'AGROPYRON']

In [19]:
print(specie)

0        AGROPYRON
1        AILANTHUS
2         ALLIARIA
3       ALOPECURUS
4    ALTERNANTHERA
5         ANTHEMIS
Name: SPECIE, dtype: object