In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame ({
"Cità": ["Rio de Janeiro","Porto Alegre","Salvador","Boa Vista"],
"Regione": ["south east", "south", "northeast", "north"],
"Primavera C°": [28,25,29,25],
"Estate C°": [37,32,35,32],
"Outono C°": [25, 22, 25, 21],
"Inverno C°": [18,9,20,18],
})

data

             Cità     Regione  Primavera C°  Estate C°  Outono C°  Inverno C°
0  Rio de Janeiro  south east            28         37         25          18
1    Porto Alegre       south            25         32         22           9
2        Salvador   northeast            29         35         25          20
3       Boa Vista       north            25         32         21          18

In [3]:
data.describe

<bound method NDFrame.describe of              Cità     Regione  Primavera C°  Estate C°  Outono C°  Inverno C°
0  Rio de Janeiro  south east            28         37         25          18
1    Porto Alegre       south            25         32         22           9
2        Salvador   northeast            29         35         25          20
3       Boa Vista       north            25         32         21          18>