In [1]:
import pandas as pd

In [7]:
data = pd.DataFrame({
    "CharName":["Artemis",
               "Summoning",
               "Thoal",
               "Fleurexq",
               "Paddington",
               "Misstaken",
               "Crimsonwave"],
    "Class":["Hunter",
            "Paladin",
            "Druid",
            "Hunter",
            "Druid",
            "Mage",
            "Death Knight"],
    "Role":["RangedDPS", "Tank", "MeleeDPS", "RangedDPS", "Healer", "RangedDPS", "Tank"],
    "Rank":["Officer",
           "Officer",
           "Raid leader",
           "Guild master",
           "Officer",
           "Officer",
           "Raid leader"],
    "Level":[50, 50, 50, 50, 50, 50, 50],
    "Shadowlands":[True, True, True, True, False, True, True] ,
    "BestMythicScore": [1342, 1592, 1851, 1787, 1058, 2080, 1043]
         
})
data

,CharName,Class,Role,Rank,Level,Shadowlands,BestMythicScore
0,Artemis,Hunter,RangedDPS,Officer,50,True,1342
1,Summoning,Paladin,Tank,Officer,50,True,1592
2,Thoal,Druid,MeleeDPS,Raid leader,50,True,1851
3,Fleurexq,Hunter,RangedDPS,Guild master,50,True,1787
4,Paddington,Druid,Healer,Officer,50,False,1058
5,Misstaken,Mage,RangedDPS,Officer,50,True,2080
6,Crimsonwave,Death Knight,Tank,Raid leader,50,True,1043

In [3]:
data ["Shadowlands"]

0     True
1     True
2     True
3     True
4    False
5     True
6     True
Name: Shadowlands, dtype: bool

In [4]:
data ["Level"]

0    50
1    50
2    50
3    50
4    50
5    50
6    50
Name: Level, dtype: int64

In [8]:
data.describe

<bound method NDFrame.describe of       CharName         Class       Role          Rank  Level  Shadowlands  \
0      Artemis        Hunter  RangedDPS       Officer     50         True
1    Summoning       Paladin       Tank       Officer     50         True
2        Thoal         Druid   MeleeDPS   Raid leader     50         True
3     Fleurexq        Hunter  RangedDPS  Guild master     50         True
4   Paddington         Druid     Healer       Officer     50        False
5    Misstaken          Mage  RangedDPS       Officer     50         True
6  Crimsonwave  Death Knight       Tank   Raid leader     50         True

   BestMythicScore
0             1342
1             1592
2             1851
3             1787
4             1058
5             2080
6             1043  >

In [11]:
x= data ["BestMythicScore"]

In [13]:
x.describe()

count       7.000000
mean     1536.142857
std       402.174684
min      1043.000000
25%      1200.000000
50%      1592.000000
75%      1819.000000
max      2080.000000
Name: BestMythicScore, dtype: float64

come mai qui esce NDFrame se uso describe senza parentesi?