In [29]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
cr = pd.read_csv("/Users/test/Downloads/covid19_italy_region.csv")
cr

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4237,4237,2020-09-12T17:00:00,ITA,19,Sicilia,38.115697,13.362357,116,18,134,1613,1747,44,3144,289,5180,298359.0
4238,4238,2020-09-12T17:00:00,ITA,9,Toscana,43.769231,11.255889,74,18,92,2310,2402,138,9473,1148,13023,419422.0
4239,4239,2020-09-12T17:00:00,ITA,10,Umbria,43.106758,12.388247,18,4,22,397,419,33,1542,81,2042,106482.0
4240,4240,2020-09-12T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,3,0,3,31,34,1,1078,146,1258,18424.0
4241,4241,2020-09-12T17:00:00,ITA,5,Veneto,45.434905,12.338452,99,12,111,2829,2940,138,19586,2141,24667,668332.0

In [30]:
cr[0:10]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
5,5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,NaN
6,6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,2,1,0,3,NaN
7,7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,NaN
8,8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,166,0,6,172,NaN
9,9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,NaN

In [31]:
Morti = cr["Deaths"]
Morti

0          0
1          0
2          0
3          0
4          0
        ...
4237     289
4238    1148
4239      81
4240     146
4241    2141
Name: Deaths, Length: 4242, dtype: int64

In [32]:
Data = cr["Date"]
Data

0       2020-02-24T18:00:00
1       2020-02-24T18:00:00
2       2020-02-24T18:00:00
3       2020-02-24T18:00:00
4       2020-02-24T18:00:00
               ...
4237    2020-09-12T17:00:00
4238    2020-09-12T17:00:00
4239    2020-09-12T17:00:00
4240    2020-09-12T17:00:00
4241    2020-09-12T17:00:00
Name: Date, Length: 4242, dtype: object

In [33]:
Regioni = cr["RegionName"]
Regioni

0              Abruzzo
1           Basilicata
2             Calabria
3             Campania
4       Emilia-Romagna
             ...
4237           Sicilia
4238           Toscana
4239            Umbria
4240     Valle d'Aosta
4241            Veneto
Name: RegionName, Length: 4242, dtype: object

In [34]:
POspit = cr["HospitalizedPatients"]
POspit

0         0
1         0
2         0
3         0
4        10
       ...
4237    116
4238     74
4239     18
4240      3
4241     99
Name: HospitalizedPatients, Length: 4242, dtype: int64

In [35]:
PTerapIntens = cr["IntensiveCarePatients"]

In [36]:
PConfiCasa = cr["HomeConfinement"]

In [37]:
CasiPositivi = cr["CurrentPositiveCases"]

In [38]:
Ricoveri = cr["Recovered"]

In [39]:
TestEffettuati = cr["TestsPerformed"]

In [40]:
cr['RegionName'].unique()

array(['Abruzzo', 'Basilicata', 'Calabria', 'Campania', 'Emilia-Romagna',
       'Friuli Venezia Giulia', 'Lazio', 'Liguria', 'Lombardia', 'Marche',
       'Molise', 'P.A. Bolzano', 'P.A. Trento', 'Piemonte', 'Puglia',
       'Sardegna', 'Sicilia', 'Toscana', 'Umbria', "Valle d'Aosta",
       'Veneto'], dtype=object)

In [41]:
cr[cr.RegionName == "Lombardia"]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
8,8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,166,0,6,172,NaN
29,29,2020-02-25T18:00:00,ITA,3,Lombardia,45.466794,9.190347,79,25,104,127,231,68,0,9,240,NaN
50,50,2020-02-26T18:00:00,ITA,3,Lombardia,45.466794,9.190347,79,25,104,145,249,18,0,9,258,NaN
71,71,2020-02-27T18:00:00,ITA,3,Lombardia,45.466794,9.190347,172,41,213,136,349,145,40,14,403,NaN
92,92,2020-02-28T18:00:00,ITA,3,Lombardia,45.466794,9.190347,235,47,282,192,474,128,40,17,531,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,4145,2020-09-08T17:00:00,ITA,3,Lombardia,45.466794,9.190347,248,27,275,7946,8221,271,76976,16888,102085,1073431.0
4166,4166,2020-09-09T17:00:00,ITA,3,Lombardia,45.466794,9.190347,252,27,279,8045,8324,218,77088,16891,102303,1087646.0
4187,4187,2020-09-10T17:00:00,ITA,3,Lombardia,45.466794,9.190347,256,30,286,8166,8452,245,77204,16892,102548,1098986.0
4208,4208,2020-09-11T17:00:00,ITA,3,Lombardia,45.466794,9.190347,246,27,273,8318,8591,257,77318,16896,102805,1110428.0
4229,4229,2020-09-12T17:00:00,ITA,3,Lombardia,45.466794,9.190347,251,27,278,8289,8567,269,77611,16896,103074,1120531.0

cr[(cr.RegionName == 'Lombardia') & (CR.Deaths)]

In [42]:
cr[(Regioni == "Lombardia")]["Deaths"]

8           6
29          9
50          9
71         14
92         17
        ...
4145    16888
4166    16891
4187    16892
4208    16896
4229    16896
Name: Deaths, Length: 202, dtype: int64

In [43]:
Morti.describe()

count     4242.000000
mean      1265.888496
std       3075.511105
min          0.000000
25%         76.000000
50%        292.000000
75%        965.500000
max      16896.000000
Name: Deaths, dtype: float64