In [2]:
import pandas as pd

In [3]:
smartph = pd.read_csv("/Users/test/corso-ifoa-machine-learning/Yao-Alex/mobile.csv")
smartph

,id,name,Generation,Color,Number_Of_SIM,item_price,item_brand_name
0,0,Mione K1 ROM 3GB RAM 32GB 5.99 Inch display 4G...,NaN,NaN,NaN,"227,599.00 SAR",mione
1,1,Porsche design Huawei Mate 20 RS Dual SIM - 512GB,4G LTE,Red,NaN,"8,500.00 SAR",huawei
2,2,Samsung Galaxy Fold Dual SIM - 512GB,4G LTE,Silver,NaN,"7,587.00 SAR",samsung
3,3,Samsung Galaxy Fold Dual SIM - 512GB,4G LTE,Black,NaN,"7,099.00 SAR",samsung
4,4,Blackberry P'9981 Porsche Design - 8GB,Black,NaN,NaN,"6,550.00 SAR",blackberry
...,...,...,...,...,...,...,...
2755,2755,Huawei P40 Pro Single SIM and E-SIM - 256GB,5G - Silver Frost,NaN,NaN,"3,499.00 SAR",huawei
2756,2756,Apple iPhone XR without Face Time - 64GB,White,NaN,NaN,"3,498.00 SAR",apple
2757,2757,Samsung Galaxy S10 Plus Dual Sim - 1Tb,4G LTE,Ceramic White,Sm-G975FcwhXSg,"3,489.00 SAR",samsung
2758,2758,Apple iPhone 11 with FaceTime - 256GB,4G LTE,Yellow,Single SIM & E-SIM,"3,487.97 SAR",apple
2759,2759,Samsung Galaxy S20 Plus Dual SIM - 128GB,4G LTE - Light Blue,NaN,NaN,"3,398.98 SAR",samsung

In [5]:
smartph.describe()

                id
count  2760.000000
mean   1379.500000
std     796.887696
min       0.000000
25%     689.750000
50%    1379.500000
75%    2069.250000
max    2759.000000

In [12]:
print(smartph["Color"].unique())
print(smartph["Color"].unique().size)

[nan 'Red' 'Silver' 'Black' 'Space Gray' '4 GB Ram' 'Gold'
 'Midnight Green' '6.5 Inch' 'Black/Grey' 'Aura White' 'Aura Glow' 'Blue'
 'Aura Black' 'White' 'Green' '3 GB Ram' 'Purple' '6 GB Ram'
 'Ceramic White' 'Yellow']
21

In [5]:
brand = smartph["item_brand_name"]

In [9]:
samsung = smartph[ smartph['item_brand_name'] == 'samsung']

In [11]:
apple = smartph[ smartph['item_brand_name'] == 'apple']

In [16]:
huawei = smartph[ smartph['item_brand_name'] == 'huawei']

In [12]:
Color = smartph["Color"]

In [13]:
Color.describe()

count      1656
unique       20
top       Black
freq        276
Name: Color, dtype: object

In [24]:
samsung.count()

id                 690
name               690
Generation         690
Color              322
Number_Of_SIM       46
item_price         690
item_brand_name    690
dtype: int64

In [25]:
samsung.describe()

                id
count   690.000000
mean   1385.400000
std     797.296547
min       2.000000
25%     699.250000
50%    1380.500000
75%    2078.500000
max    2759.000000

In [23]:
apple.count()

id                 1472
name               1472
Generation         1472
Color              1012
Number_Of_SIM       920
item_price         1472
item_brand_name    1472
dtype: int64

In [26]:
apple.describe()

                id
count  1472.000000
mean   1378.312500
std     796.993718
min       5.000000
25%     685.750000
50%    1381.500000
75%    2063.250000
max    2758.000000

In [28]:
huawei.count()

id                 276
name               276
Generation         276
Color              184
Number_Of_SIM        0
item_price         276
item_brand_name    276
dtype: int64

In [27]:
huawei.describe()

                id
count   276.000000
mean   1382.333333
std     798.299578
min       1.000000
25%     704.250000
50%    1378.000000
75%    2070.750000
max    2755.000000