In [92]:
import pandas as pd

In [93]:

data = pd.DataFrame ({
    
    #nome colonne
    "Marca": ["Iphone","Google","Samsung","Oppo","Sony","POCO"],
    #colonna modello
    "Modello": ["12 PRO MAX","Pixel 5", "Galaxy S20 FE","Reno 4 SE","Xperia 5 II","X3"],
    
    
    #colonna mpx fotocamera
    "Mpx_fotocamera": [12,
             12,12,48,12,64],
    
    
    #colonna numero di cores
    "N. Core": [6,
             8,8,8,8,8],
    
    #grandezza display
    "Dim. Display": [6.7, 6, 6.5, 6.4, 6.1, 6.7]
})

In [91]:
data = data.style.set_properties(**{'text-align': 'center'})
#allineamento ricorda che i drop non vanno se eseguito l'allineamento

In [94]:
data

     Marca        Modello  Mpx_fotocamera  N. Core  Dim. Display
0   Iphone     12 PRO MAX              12        6           6.7
1   Google        Pixel 5              12        8           6.0
2  Samsung  Galaxy S20 FE              12        8           6.5
3     Oppo      Reno 4 SE              48        8           6.4
4     Sony    Xperia 5 II              12        8           6.1
5     POCO             X3              64        8           6.7

In [95]:
data ["Marca"]

0     Iphone
1     Google
2    Samsung
3       Oppo
4       Sony
5       POCO
Name: Marca, dtype: object

In [79]:
data.drop(["Marca"], axis=1)
#no marca

         Modello  Mpx_fotocamera  N. Core  Dim. Display
0     12 PRO MAX              12        6           6.7
1        Pixel 5              12        8           6.0
2  Galaxy S20 FE              12        8           6.5
3      Reno 4 SE              48        8           6.4
4    Xperia 5 II              12        8           6.1
5             X3              64        8           6.7

In [96]:
data.drop([0], axis=0)
#no iphone

     Marca        Modello  Mpx_fotocamera  N. Core  Dim. Display
1   Google        Pixel 5              12        8           6.0
2  Samsung  Galaxy S20 FE              12        8           6.5
3     Oppo      Reno 4 SE              48        8           6.4
4     Sony    Xperia 5 II              12        8           6.1
5     POCO             X3              64        8           6.7