Datagrid di esempio

In [1]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [2]:
import pandas as pd

In [8]:
montagne = pd.DataFrame({
    "Name" : ["Monte Elbrus", "Dikh-Tau", "Monte Shkhara", "Monte Bianco", "Monte Rosa"],
    "Height" : [5.642, 5.205, 5.193, 4.809, 4.634],
    "Catena montuosa" : ["Caucaso", "Caucaso", "Caucaso", "Alpi", "Alpi"],
    "Difficile" : [True, True, True, True, True]
})
montagne

            Name  Height Catena montuosa  Difficile
0   Monte Elbrus   5.642         Caucaso       True
1       Dikh-Tau   5.205         Caucaso       True
2  Monte Shkhara   5.193         Caucaso       True
3   Monte Bianco   4.809            Alpi       True
4     Monte Rosa   4.634            Alpi       True

In [13]:
Height = montagne["Height"]
Height

0    5.642
1    5.205
2    5.193
3    4.809
4    4.634
Name: Height, dtype: float64

In [14]:
print(montagne["Height"].min())

4.634

In [15]:
print(montagne["Height"].max())

5.642

In [18]:
print(montagne["Height"].describe())

count    5.000000
mean     5.096600
std      0.392179
min      4.634000
25%      4.809000
50%      5.193000
75%      5.205000
max      5.642000
Name: Height, dtype: float64