In [1]:
import pandas as pd

In [10]:
data = pd.DataFrame ({
    "Nome":["Immobile","C.Ronaldo","Lukaku","Caputo"],
    
    "Squadra": ["Lazio","Juventus","Inter","Sassuolo"],
    
    "Media_voto" :[6.57, 6.56, 6.42, 6.32],
    
    "Fanta_media":[9.49, 9.33, 8.33, 8.31],
    
    "Gol_segnati": [36, 31, 23, 21],
    })
data

        Nome   Squadra  Media_voto  Fanta_media  Gol_segnati
0   Immobile     Lazio        6.57         9.49           36
1  C.Ronaldo  Juventus        6.56         9.33           31
2     Lukaku     Inter        6.42         8.33           23
3     Caputo  Sassuolo        6.32         8.31           21

In [14]:
data["Gol_segnati"]

0    36
1    31
2    23
3    21
Name: Gol_segnati, dtype: int64

In [16]:
data.describe()

       Media_voto  Fanta_media  Gol_segnati
count    4.000000     4.000000     4.000000
mean     6.467500     8.865000    27.750000
std      0.119826     0.632745     6.994045
min      6.320000     8.310000    21.000000
25%      6.395000     8.325000    22.500000
50%      6.490000     8.830000    27.000000
75%      6.562500     9.370000    32.250000
max      6.570000     9.490000    36.000000