In [252]:
import pandas as pd
import numpy as np
import json
import math
import sys

In [253]:
df=pd.read_csv("C:\\Users\\giuli\\project_w_EXP\\man-shoes\\Datafiniti_Mens_Shoe_Prices.csv", error_bad_lines=False)
df

b'Skipping line 251: expected 48 fields, saw 49\nSkipping line 444: expected 48 fields, saw 50\nSkipping line 847: expected 48 fields, saw 49\nSkipping line 848: expected 48 fields, saw 49\nSkipping line 1018: expected 48 fields, saw 49\nSkipping line 1575: expected 48 fields, saw 51\nSkipping line 2133: expected 48 fields, saw 49\nSkipping line 2922: expected 48 fields, saw 51\nSkipping line 3777: expected 48 fields, saw 51\nSkipping line 4057: expected 48 fields, saw 49\nSkipping line 4239: expected 48 fields, saw 49\nSkipping line 4240: expected 48 fields, saw 49\nSkipping line 4384: expected 48 fields, saw 49\nSkipping line 4385: expected 48 fields, saw 49\nSkipping line 5388: expected 48 fields, saw 49\nSkipping line 5480: expected 48 fields, saw 49\nSkipping line 5481: expected 48 fields, saw 49\nSkipping line 5907: expected 48 fields, saw 50\nSkipping line 5908: expected 48 fields, saw 50\nSkipping line 6600: expected 48 fields, saw 49\nSkipping line 6601: expected 48 fields, saw 49\nSkipping line 6602: expected 48 fields, saw 49\nSkipping line 6603: expected 48 fields, saw 49\nSkipping line 7227: expected 48 fields, saw 49\nSkipping line 7228: expected 48 fields, saw 49\nSkipping line 7229: expected 48 fields, saw 49\nSkipping line 7267: expected 48 fields, saw 51\nSkipping line 9025: expected 48 fields, saw 49\nSkipping line 9026: expected 48 fields, saw 49\nSkipping line 9027: expected 48 fields, saw 49\nSkipping line 9417: expected 48 fields, saw 50\nSkipping line 10815: expected 48 fields, saw 49\nSkipping line 11034: expected 48 fields, saw 50\nSkipping line 11059: expected 48 fields, saw 49\nSkipping line 11060: expected 48 fields, saw 49\nSkipping line 11339: expected 48 fields, saw 50\nSkipping line 11357: expected 48 fields, saw 49\nSkipping line 11358: expected 48 fields, saw 49\nSkipping line 11646: expected 48 fields, saw 49\nSkipping line 11647: expected 48 fields, saw 49\nSkipping line 12161: expected 48 fields, saw 50\nSkipping line 12307: expected 48 fields, saw 49\nSkipping line 12308: expected 48 fields, saw 49\nSkipping line 12614: expected 48 fields, saw 49\nSkipping line 12615: expected 48 fields, saw 49\nSkipping line 12616: expected 48 fields, saw 49\nSkipping line 12617: expected 48 fields, saw 49\nSkipping line 12618: expected 48 fields, saw 49\nSkipping line 12619: expected 48 fields, saw 49\nSkipping line 12620: expected 48 fields, saw 49\nSkipping line 12621: expected 48 fields, saw 49\nSkipping line 12622: expected 48 fields, saw 49\nSkipping line 12623: expected 48 fields, saw 49\nSkipping line 12799: expected 48 fields, saw 49\nSkipping line 14200: expected 48 fields, saw 49\nSkipping line 14595: expected 48 fields, saw 49\n'
b'Skipping line 16747: expected 48 fields, saw 49\nSkipping line 16748: expected 48 fields, saw 49\nSkipping line 16749: expected 48 fields, saw 49\nSkipping line 16750: expected 48 fields, saw 49\nSkipping line 16751: expected 48 fields, saw 49\nSkipping line 16752: expected 48 fields, saw 49\nSkipping line 16753: expected 48 fields, saw 49\nSkipping line 17318: expected 48 fields, saw 49\nSkipping line 17319: expected 48 fields, saw 49\nSkipping line 17766: expected 48 fields, saw 49\nSkipping line 17767: expected 48 fields, saw 49\nSkipping line 18000: expected 48 fields, saw 52\nSkipping line 18001: expected 48 fields, saw 52\nSkipping line 18308: expected 48 fields, saw 51\nSkipping line 19223: expected 48 fields, saw 52\nSkipping line 19224: expected 48 fields, saw 52\n'
C:\Users\giuli\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20,21,25,29,30,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,prices.warranty,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19310,AVpfdSjlilAPnD_xcGPm,NaN,"Xray, XRay","Clothing, Shoes & Accessories,Men's Shoes,Boots",Black,NaN,2016-03-04T05:54:20Z,2016-03-04T05:54:20Z,NaN,NaN,...,NaN,NaN,NaN,12,"[{""sourceURLs"":[""http://www.ebay.com/itm/NEW-X...",http://www.ebay.com/itm/NEW-XRay-Hester-Mens-L...,6.574867e+11,NaN,NaN,NaN
19311,AVpf3bFWilAPnD_xjrQ2,NaN,Fila,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-10-05T22:23:17Z,2016-10-05T22:23:17Z,"[{""dateSeen"":[""2016-10-05T22:23:17Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Fila-Men-s-Original...,7.894822e+11,NaN,NaN,NaN
19312,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
19313,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
19314,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19315 entries, 0 to 19314
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   19315 non-null  object
 1   asins                2571 non-null   object
 2   brand                19057 non-null  object
 3   categories           19315 non-null  object
 4   colors               11013 non-null  object
 5   count                0 non-null      float64
 6   dateAdded            19315 non-null  object
 7   dateUpdated          19315 non-null  object
 8   descriptions         9841 non-null   object
 9   dimension            2991 non-null   object
 10  ean                  9963 non-null   float64
 11  features             13925 non-null  object
 12  flavors              0 non-null      float64
 13  imageURLs            18271 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 19315 non-null  object
 16  manufacturer         6663 non-null   object
 17  manufacturerNumber   15087 non-null  object
 18  merchants            13968 non-null  object
 19  name                 19315 non-null  object
 20  prices.amountMin     19305 non-null  object
 21  prices.amountMax     19315 non-null  object
 22  prices.availability  125 non-null    object
 23  prices.color         742 non-null    object
 24  prices.condition     12612 non-null  object
 25  prices.count         14 non-null     object
 26  prices.currency      19304 non-null  object
 27  prices.dateAdded     19311 non-null  object
 28  prices.dateSeen      19295 non-null  object
 29  prices.flavor        8 non-null      object
 30  prices.isSale        19305 non-null  object
 31  prices.merchant      13778 non-null  object
 32  prices.offer         6031 non-null   object
 33  prices.returnPolicy  982 non-null    object
 34  prices.shipping      5726 non-null   object
 35  prices.size          653 non-null    object
 36  prices.source        13 non-null     object
 37  prices.sourceURLs    19300 non-null  object
 38  prices.warranty      52 non-null     object
 39  quantities           4 non-null      float64
 40  reviews              1659 non-null   object
 41  sizes                5968 non-null   object
 42  skus                 8737 non-null   object
 43  sourceURLs           19294 non-null  object
 44  upc                  10756 non-null  float64
 45  vin                  0 non-null      float64
 46  websiteIDs           0 non-null      float64
 47  weight               855 non-null    object
dtypes: float64(8), object(40)
memory usage: 7.1+ MB

In [255]:
df=df[df['prices.currency']=='USD']

In [256]:
df=df[['name', 'id', 'brand', 'categories','prices.amountMin', 'prices.amountMax', 'prices.condition', 'colors', 'dateAdded', 'dateUpdated', 'features', 'reviews', 'sizes', 'weight']]

In [257]:
df.describe()

,name,id,brand,categories,prices.amountMin,prices.amountMax,prices.condition,colors,dateAdded,dateUpdated,features,reviews,sizes,weight
count,18524,18524,18507,18524,18524,18524,11880,10540,18524,18524,13339,1604,5930,575
unique,9143,9460,1863,1172,6382,6248,9,2086,7457,7542,6298,430,1075,81
top,Harold Suede Tassel Driver,AVpfziyELJeJML43ED42,Nike,"All Men's Shoes,Shoes,Men's Shoes,Clothing",19.99,19.99,new,Black,2015-08-18T16:43:54Z,2016-02-25T20:49:59Z,"[{""key"":""Gender"",""value"":[""Unisex""]},{""key"":""P...","[{""date"":""2015-04-16T00:00:00Z"",""dateAdded"":""2...",10,3.0 lbs
freq,106,106,1710,3699,175,174,7751,1444,106,106,83,66,267,92

In [258]:
df["prices.amountMax"] = pd.to_numeric(df["prices.amountMax"])
df["prices.amountMin"] = pd.to_numeric(df["prices.amountMin"])

In [259]:

df=df[df['prices.amountMin']>99]
df=df[df['prices.amountMax']<200]
df

,name,id,brand,categories,prices.amountMin,prices.amountMax,prices.condition,colors,dateAdded,dateUpdated,features,reviews,sizes,weight
20,Lacoste Mens Mokara 416 Sneakers In Dark Grey,AVpfFVg-1cnluZ0-di18,Lacoste,"All Men's Shoes,Shoes,Men's Shoes,Clothing",124.95,124.95,NaN,Dark Grey,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",NaN,NaN,NaN
21,Lacoste Mens Mokara 416 Sneakers In Dark Grey,AVpfFVg-1cnluZ0-di18,Lacoste,"All Men's Shoes,Shoes,Men's Shoes,Clothing",124.95,124.95,new,Dark Grey,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",NaN,NaN,NaN
27,Puma X Rise Blaze of Glory Round Toe Leather...,AVpfB4DRLJeJML43007A,PUMA,"Clothing,Shoes,Men's Shoes,All Men's Shoes",149.00,149.00,new,NaN,2016-11-11T09:50:34Z,2016-11-11T09:50:34Z,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",NaN,"10,10.5,11,11.5,12,13,8,8.5,9,9.5",NaN
43,Robert Wayne Highway Men Round Toe Canvas Lo...,AVpfElTsLJeJML431wPt,Robert Wayne,"Men's Casual Shoes,Shoes,Men's Shoes,Clothing",110.00,110.00,new,Beige,2017-01-12T06:13:15Z,2017-01-12T06:13:15Z,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,"11.5,13,11,12",NaN
58,Woolrich Men Beebe Lace Up Boots,AVpfC5OcLJeJML431K5_,Woolrich,"All Men's Shoes,Shoes,Men's Shoes,Clothing",150.00,150.00,new,"Field Tan Canvas,Brush Brown Canvas",2017-01-27T01:20:22Z,2017-01-27T01:20:22Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Bran...",NaN,"8 M,10 M,12 M,11 M",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19299,Swix Oppdal Softshell Jacket - Men's,AVpfGOlWLJeJML432U6p,Swix,"Sports,Clothing, Shoes & Jewelry,Men,Clothing,...",170.00,170.00,NaN,"TangerineBlackGriffin,Griffin,AquaBlackGriffin...",2015-10-14T03:05:29Z,2016-07-18T18:54:17Z,NaN,NaN,"Small,Medium,Large",NaN
19300,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,AVpf0jrBilAPnD_xi5DF,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",123.63,123.63,new,Multicolor,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",NaN,NaN,NaN
19301,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,AVpf0jrBilAPnD_xi5DF,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",123.63,123.63,new,Multicolor,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",NaN,NaN,NaN
19302,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,AVpf0jrBilAPnD_xi5DF,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",168.60,168.60,new,Multicolor,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",NaN,NaN,NaN
19303,Easy Usa M8818 Men Slide Sport Sandals - 36 Pairs,AVpf0jrBilAPnD_xi5DF,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",129.59,129.59,new,Multicolor,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",NaN,NaN,NaN

In [260]:
df['medium.price']=(df['prices.amountMin']+df['prices.amountMax'])/2

In [261]:
p=(df[['reviews', 'categories', 'brand']].groupby('categories').count()).sort_values(by=['reviews'], ascending=False)

p[p['reviews']>10]

                                                    reviews  brand
categories
Men,Wrist Watches,Watches,Clothing, Shoes & Jew...       37     41
Accessories,Sunglasses,Men,Contemporary & Desig...       31     31
Accessories,Sunglasses,Men,Women,Shoes,Clothing...       19     19
All Men's Shoes,Shoes,Men's Shoes,Clothing               13    747
Watches,Clothing, Shoes & Jewelry,Men,Wrist Wat...       11     24

In [262]:
def extract_averge_review(reviews):
    try:
        if (type(reviews) == float):
            return None
        
        if (type(reviews) != str):
            #print( f"WARN not a string but a {type(reviews)} {reviews}" )
            return None
        
        reviews = reviews.replace("\\\\", "\\")
        kvs = json.loads(reviews)
        ratings = []
        for kv in kvs:
            if("rating" in kv):
                #print( f"\n\n{kv}" )
                ratings.append( float( kv["rating"] ) )
                
        #print( f"\n\n{ratings}" )
        
        # questo blocco è per fare qualcosa di utile con i voti di un prodotto.
        # ad esempio in questo caso viene calcolata la media delle recensioni
        if len(ratings) == 0:
            return None
        else:
            total = 0.0
            for r in ratings:
                total = total + r
            avg = total / len(ratings)
            return avg        
                
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        #print( f"WARN '{err_type}' '{err_value}' parsing {reviews}" )
        return None

In [263]:

df["reviews"] = df["reviews"].apply( extract_averge_review )


rt_study=df[ df["reviews"].isnull()==False ].sort_values(by=['reviews'], ascending=False)
rt_study

,name,id,brand,categories,prices.amountMin,prices.amountMax,prices.condition,colors,dateAdded,dateUpdated,features,reviews,sizes,weight,medium.price
9403,Jacques Lemans London 1-1654h 40mm Rose Gold T...,AVpe4Tc81cnluZ0-Y3gl,Jacques Lemans,"Men,Wrist Watches,Watches,Clothing, Shoes & Je...",153.95,153.95,NaN,NaN,2015-11-29T22:54:15Z,2016-09-24T04:05:17Z,NaN,5.0,NaN,NaN,153.95
10141,Rare Authentic Prada Sport Active Shield Black...,AVpfGgRQ1cnluZ0-d8Ie,Prada Sport,"Women's Sunglasses,Clothing, Shoes, Accessorie...",173.68,173.68,new,"Frame color Black,Lens color Grey",2016-05-09T15:22:39Z,2016-05-20T11:25:26Z,"[{""key"":""Bridge"",""value"":[""18mm""]},{""key"":""Fac...",5.0,NaN,NaN,173.68
10926,Prada Sport 55os 7ax1a1 Black Frame Full Gray ...,AVpfWQsIilAPnD_xaIFF,Prada Sport,"Clothing, Shoes, Accessories,Men's Sunglasses",186.58,186.58,new,Black,2016-02-14T11:22:47Z,2016-02-14T11:22:47Z,"[{""key"":""Style"",""value"":[""Shield""]},{""key"":""Co...",5.0,NaN,NaN,186.58
14547,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",114.95,114.95,New,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.0,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,114.95
14546,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",112.99,112.99,new,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.0,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,112.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17208,Dr Zen Sport 2 Women's Therapeutic Diabetic Ex...,AVpffPERLJeJML43-Es7,Dr. Zen,"Shoes,Clothing, Shoes & Jewelry,Men,Athletic,R...",119.95,119.95,NaN,"White,Black",2015-09-20T21:11:30Z,2016-07-21T08:34:30Z,NaN,2.0,NaN,NaN,119.95
14336,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",169.95,169.95,New,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,169.95
14333,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",109.99,109.99,new,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,109.99
12931,Fuerza Mens Winter Down Wellon Collection Dura...,AVpfsk301cnluZ0-plwa,Fuerza,"All Men's Clothing,Men's Clothing,Men's Outerw...",199.00,199.00,NaN,NaN,2016-01-02T03:28:29Z,2016-03-30T20:30:39Z,"[{""key"":""Style"",""value"":[""Parkas""]},{""key"":""Fe...",2.0,NaN,NaN,199.00
14332,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",160.00,160.00,new,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,160.00

In [264]:
rt_study['categories'].unique().size

46

In [265]:
rows = rt_study["categories"].unique()
#print(rows)
s = set()
for row in rows:
    #print("-- " + row)
    categories = row.split(",")
    for category in categories:
        ##print("---- " + category)
        s.add(category)

print(s)

{'Work Safety Clothing and Equipment', 'Sunglasses & Fashion Eyewear', "Women's Sunglasses", 'Ray-Ban', 'Men', 'Boots', "Men's Casual Shoes", 'Shoes', "Men's Sunglasses", ' Accessories', 'Basketball', 'Racquet Sports', "Men's Dress Shoes", 'Prescription Eyewear Frames', 'Mid-Calf Boots', 'Sunglasses', 'Equestrian Sports', 'Watches', 'Loafers & Slip-Ons', 'Athletic', 'Snow Boots', 'Clothing', 'See more Maui Jim Sunglasses Red Sands Ht432-10m Matte ...', "Men's Work Shoes & Boots", 'Sports & Outdoors', 'Shoes & Handbags', 'Wristwatches', 'Oxfords', "Men's Accessories", 'Contemporary & Designer', 'Coats & Jackets', 'Other Slip-Ons', 'Home Improvement', "Men's Boots", 'Sandals', "Men's Outerwear", 'Industrial & Construction', "Men's Work & Safety Shoes", 'Outdoor', 'Women', 'Work Boots', ' Shoes & Accessories', 'Walking Shoes', 'Accessories', 'Hiking Boots', 'Team Sports', 'Boat Shoes', "All Men's Clothing", 'Uniforms', 'Sunglasses & Eyewear Accessories', 'Wrist Watches', "All Men's Shoes", 'Prada Sport', '54Ps', 'Chukkas', 'Jewelry & Watches', '3513M Aviator Flat Metal', 'Tennis', "All Women's Shoes", 'Sweats & Hoodies', 'Running Shoes', 'Cowboy Boots', 'Western', ' Shoes & Jewelry', "Men's Clothing", ' Work & Safety', "Women's Shoes", ' Shoes', "Men's Shoes", 'Sneakers & Athletic Shoes'}

In [266]:
def g(x):
    for i in x:
        if 'Sneakers & Athletic Shoes' in x:
            return 'Sneakers & Athletic Shoes'

In [267]:
rt_study['Sneakers & Athletic Shoes']= rt_study['categories'].apply(g)

In [268]:
rt_study

,name,id,brand,categories,prices.amountMin,prices.amountMax,prices.condition,colors,dateAdded,dateUpdated,features,reviews,sizes,weight,medium.price,Sneakers & Athletic Shoes
9403,Jacques Lemans London 1-1654h 40mm Rose Gold T...,AVpe4Tc81cnluZ0-Y3gl,Jacques Lemans,"Men,Wrist Watches,Watches,Clothing, Shoes & Je...",153.95,153.95,NaN,NaN,2015-11-29T22:54:15Z,2016-09-24T04:05:17Z,NaN,5.0,NaN,NaN,153.95,None
10141,Rare Authentic Prada Sport Active Shield Black...,AVpfGgRQ1cnluZ0-d8Ie,Prada Sport,"Women's Sunglasses,Clothing, Shoes, Accessorie...",173.68,173.68,new,"Frame color Black,Lens color Grey",2016-05-09T15:22:39Z,2016-05-20T11:25:26Z,"[{""key"":""Bridge"",""value"":[""18mm""]},{""key"":""Fac...",5.0,NaN,NaN,173.68,None
10926,Prada Sport 55os 7ax1a1 Black Frame Full Gray ...,AVpfWQsIilAPnD_xaIFF,Prada Sport,"Clothing, Shoes, Accessories,Men's Sunglasses",186.58,186.58,new,Black,2016-02-14T11:22:47Z,2016-02-14T11:22:47Z,"[{""key"":""Style"",""value"":[""Shield""]},{""key"":""Co...",5.0,NaN,NaN,186.58,None
14547,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",114.95,114.95,New,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.0,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,114.95,Sneakers & Athletic Shoes
14546,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",112.99,112.99,new,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.0,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,112.99,Sneakers & Athletic Shoes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17208,Dr Zen Sport 2 Women's Therapeutic Diabetic Ex...,AVpffPERLJeJML43-Es7,Dr. Zen,"Shoes,Clothing, Shoes & Jewelry,Men,Athletic,R...",119.95,119.95,NaN,"White,Black",2015-09-20T21:11:30Z,2016-07-21T08:34:30Z,NaN,2.0,NaN,NaN,119.95,None
14336,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",169.95,169.95,New,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,169.95,None
14333,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",109.99,109.99,new,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,109.99,None
12931,Fuerza Mens Winter Down Wellon Collection Dura...,AVpfsk301cnluZ0-plwa,Fuerza,"All Men's Clothing,Men's Clothing,Men's Outerw...",199.00,199.00,NaN,NaN,2016-01-02T03:28:29Z,2016-03-30T20:30:39Z,"[{""key"":""Style"",""value"":[""Parkas""]},{""key"":""Fe...",2.0,NaN,NaN,199.00,None
14332,New Balance Mw1569 B Round Toe Leather Walki...,AVpfV7RtLJeJML437d5t,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Hik...",160.00,160.00,new,"BrownOrange,Brown",2015-08-14T18:13:40Z,2016-11-06T23:58:16Z,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",2.0,"8.5,7,7.5,9,15B,124E,152E,7B,134E,156E,7D,10D,...",NaN,160.00,None

def g(x):
    for i in x:
        if 'Running Shoes' in x:
            return 'Running Shoes'

In [269]:
# rt_study['Running Shoes']= rt_study['categories'].apply(g)

def g(x):
    for i in x:
        if 'Tennis' in x:
            return 'Tennis'

In [270]:
#rt_study['Tennis']= rt_study['categories'].apply(g)

def g(x):
    for i in x:
        if 'Prada Sport' in x:
            return 'Prada Sport'

In [271]:
# rt_study['Prada Sport']= rt_study['categories'].apply(g)

In [272]:
cat_def={'Prada Sport', 'Tennis', 'Running Shoes', 'Sneakers & Athletic Shoes', 'Team Sports', "Men's Casual Shoes", 'Basketball', 'Racquet Sports', 'Athletic', 'Sports & Outdoors', 'Oxfords', 'Contemporary & Designer', "Men's Outerwear", 'Outdoor', 'Walking Shoes'}

In [273]:
def y(x):
    cat_def={'Prada Sport', 'Tennis', 'Running Shoes', 'Sneakers & Athletic Shoes', 'Team Sports', "Men's Casual Shoes", 'Basketball', 'Racquet Sports', 'Athletic', 'Sports & Outdoors', 'Oxfords', 'Contemporary & Designer', "Men's Outerwear", 'Outdoor', 'Walking Shoes'}
    p=''
    for i in cat_def:
        if i in x:
            p=p+i+', '
    return p[:-2]

In [274]:
def g(x):
    for i in x:
        return y(x)

In [275]:
rt_study['Categorie_DEF']= rt_study['categories'].apply(g)

In [276]:
rt_study=rt_study[rt_study['Categorie_DEF']!='']

In [278]:
rt_study

,name,id,brand,categories,prices.amountMin,prices.amountMax,prices.condition,colors,dateAdded,dateUpdated,features,reviews,sizes,weight,medium.price,Sneakers & Athletic Shoes,Categorie_DEF
10141,Rare Authentic Prada Sport Active Shield Black...,AVpfGgRQ1cnluZ0-d8Ie,Prada Sport,"Women's Sunglasses,Clothing, Shoes, Accessorie...",173.68,173.68,new,"Frame color Black,Lens color Grey",2016-05-09T15:22:39Z,2016-05-20T11:25:26Z,"[{""key"":""Bridge"",""value"":[""18mm""]},{""key"":""Fac...",5.000000,NaN,NaN,173.68,None,Prada Sport
14547,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",114.95,114.95,New,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.000000,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,114.95,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
14546,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",112.99,112.99,new,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.000000,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,112.99,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
14545,New Balance Mt10 Men Round Toe Canvas Black T...,AVpe7ggmLJeJML43yjHA,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",160.00,160.00,new,BlackLead,2015-08-14T18:13:39Z,2016-09-27T03:34:41Z,"[{""key"":""Material"",""value"":[""Canvas""]},{""key"":...",5.000000,"10,11.5,12,12.5,13,14,9,9.5,162E,152E,122E,7D,...",NaN,160.00,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
4545,Dr. Martens Men 8053 5 Eye Oxfords,AVpe8T691cnluZ0-aW9P,Dr. Martens,"Oxfords,All Men's Shoes,Shoes,Men's Shoes,Clot...",114.95,114.95,New,"Tan Harvest,Tan,Gaucho,Black Nappa,Brown",2015-08-14T18:22:35Z,2017-01-16T19:26:59Z,"[{""key"":""Heel Height"",""value"":[""1.25 Inches""]}...",5.000000,10,NaN,114.95,None,Oxfords
4546,Dr. Martens Men 8053 5 Eye Oxfords,AVpe8T691cnluZ0-aW9P,Dr. Martens,"Oxfords,All Men's Shoes,Shoes,Men's Shoes,Clot...",119.99,119.99,new,"Tan Harvest,Tan,Gaucho,Black Nappa,Brown",2015-08-14T18:22:35Z,2017-01-16T19:26:59Z,"[{""key"":""Heel Height"",""value"":[""1.25 Inches""]}...",5.000000,10,NaN,119.99,None,Oxfords
4547,Dr. Martens Men 8053 5 Eye Oxfords,AVpe8T691cnluZ0-aW9P,Dr. Martens,"Oxfords,All Men's Shoes,Shoes,Men's Shoes,Clot...",114.95,114.95,new,"Tan Harvest,Tan,Gaucho,Black Nappa,Brown",2015-08-14T18:22:35Z,2017-01-16T19:26:59Z,"[{""key"":""Heel Height"",""value"":[""1.25 Inches""]}...",5.000000,10,NaN,114.95,None,Oxfords
4548,Dr. Martens Men 8053 5 Eye Oxfords,AVpe8T691cnluZ0-aW9P,Dr. Martens,"Oxfords,All Men's Shoes,Shoes,Men's Shoes,Clot...",119.99,119.99,new,"Tan Harvest,Tan,Gaucho,Black Nappa,Brown",2015-08-14T18:22:35Z,2017-01-16T19:26:59Z,"[{""key"":""Heel Height"",""value"":[""1.25 Inches""]}...",5.000000,10,NaN,119.99,None,Oxfords
10136,Rare Authentic Prada Sport Active Shield Black...,AVpfGgRQ1cnluZ0-d8Ie,Prada Sport,"Women's Sunglasses,Clothing, Shoes, Accessorie...",170.53,170.53,new,"Frame color Black,Lens color Grey",2016-05-09T15:22:39Z,2016-05-20T11:25:26Z,"[{""key"":""Bridge"",""value"":[""18mm""]},{""key"":""Fac...",5.000000,NaN,NaN,170.53,None,Prada Sport
10135,Rare Authentic Prada Sport Active Shield Black...,AVpfGgRQ1cnluZ0-d8Ie,Prada Sport,"Women's Sunglasses,Clothing, Shoes, Accessorie...",175.25,175.25,new,"Frame color Black,Lens color Grey",2016-05-09T15:22:39Z,2016-05-20T11:25:26Z,"[{""key"":""Bridge"",""value"":[""18mm""]},{""key"":""Fac...",5.000000,NaN,NaN,175.25,None,Prada Sport
16272,Merrell Mens All Out Blaze Stretch,AVpe4g9EilAPnD_xP_-R,Merrell,"Sneakers & Athletic Shoes,Clothing,Shoes,Men's...",129.95,129.95,New,"Falcon,CanteenBrown",2015-08-14T18:24:29Z,2017-01-09T19:46:41Z,"[{""key"":""Material"",""value"":[""Leather and Mesh""...",4.800000,"8.5M,9M,11.5M,8M,9.5M,10.5M,14M,7M,7.5M,15M,11...",NaN,129.95,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
16273,Merrell Mens All Out Blaze Stretch,AVpe4g9EilAPnD_xP_-R,Merrell,"Sneakers & Athletic Shoes,Clothing,Shoes,Men's...",109.50,109.50,new,"Falcon,CanteenBrown",2015-08-14T18:24:29Z,2017-01-09T19:46:41Z,"[{""key"":""Material"",""value"":[""Leather and Mesh""...",4.800000,"8.5M,9M,11.5M,8M,9.5M,10.5M,14M,7M,7.5M,15M,11...",NaN,109.50,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
17342,Hi-tec Men's Ozark 200 I Wp Snow Boot,AVpf-SpiilAPnD_xlWJC,Hi-Tec,"Men,Shoes,Outdoor,Clothing, Shoes & Jewelry,Sn...",150.00,150.00,NaN,"Dark Chocolate,BlackDark Grey",2016-03-10T17:22:56Z,2016-03-24T15:38:47Z,NaN,4.750000,NaN,NaN,150.00,None,Outdoor
9627,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",103.17,103.17,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,103.17,None,Contemporary & Designer
9631,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",111.85,111.85,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,111.85,None,Contemporary & Designer
9628,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",106.41,106.41,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,106.41,None,Contemporary & Designer
9629,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",155.40,155.40,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,155.40,None,Contemporary & Designer
9632,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",108.44,108.44,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,108.44,None,Contemporary & Designer
9869,Laredo Hawk Mens Black Stitched Vamp 12,AVpfV0uP1cnluZ0-i-Vi,Laredo,"Men's Boots,Men's Casual Shoes,Shoes,Clothing,...",155.00,155.00,NaN,Black,2016-03-24T20:47:44Z,2016-03-25T22:48:12Z,"[{""key"":""Style"",""value"":[""Western & Cowboy Boo...",4.600000,"10.5,10,8.5,7,9.5,7.5,11.5,9,8,13,11,12",NaN,155.00,None,Men's Casual Shoes
9870,Laredo Hawk Mens Black Stitched Vamp 12,AVpfV0uP1cnluZ0-i-Vi,Laredo,"Men's Boots,Men's Casual Shoes,Shoes,Clothing,...",128.95,128.95,NaN,Black,2016-03-24T20:47:44Z,2016-03-25T22:48:12Z,"[{""key"":""Style"",""value"":[""Western & Cowboy Boo...",4.600000,"10.5,10,8.5,7,9.5,7.5,11.5,9,8,13,11,12",NaN,128.95,None,Men's Casual Shoes
9871,Laredo Hawk Mens Black Stitched Vamp 12,AVpfV0uP1cnluZ0-i-Vi,Laredo,"Men's Boots,Men's Casual Shoes,Shoes,Clothing,...",145.95,145.95,New,Black,2016-03-24T20:47:44Z,2016-03-25T22:48:12Z,"[{""key"":""Style"",""value"":[""Western & Cowboy Boo...",4.600000,"10.5,10,8.5,7,9.5,7.5,11.5,9,8,13,11,12",NaN,145.95,None,Men's Casual Shoes
9630,Dolce & Gabbana Dg 6088 Sunglasses,AVpfVLU31cnluZ0-iw9h,Dolce & Gabbana,"Accessories,Sunglasses,Men,Contemporary & Desi...",108.14,108.14,NaN,NaN,2016-07-18T18:12:16Z,2016-08-21T18:10:28Z,NaN,4.600000,NaN,NaN,108.14,None,Contemporary & Designer
14751,Softwalk Maine Men W Round Toe Leather Black O...,AVpfaBccLJeJML438rvA,SoftWalk,"Men's Dress Shoes,Shoes,Men's Shoes,Clothing,O...",140.00,140.00,new,Black,2015-08-14T18:20:17Z,2017-01-12T06:16:41Z,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",4.500000,"7,6W,7.5W,9W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5...",NaN,140.00,None,Oxfords
14753,Softwalk Maine Men W Round Toe Leather Black O...,AVpfaBccLJeJML438rvA,SoftWalk,"Men's Dress Shoes,Shoes,Men's Shoes,Clothing,O...",139.95,139.95,New,Black,2015-08-14T18:20:17Z,2017-01-12T06:16:41Z,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",4.500000,"7,6W,7.5W,9W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5...",NaN,139.95,None,Oxfords
17142,Ariat Man's Legend,AVpfXrGU1cnluZ0-jipa,NaN,"Men,Shoes,Shoes & Handbags,Boots,Sports & Outd...",179.95,179.95,New,Black Deertan,2015-11-16T03:28:15Z,2016-01-18T19:38:11Z,"[{""key"":""Frame Material"",""value"":[""plastic""]},...",4.500000,NaN,5 g,179.95,None,"Sports & Outdoors, Outdoor"
15549,Drew Aaron Men Us 7.5 W Blue Walking Shoe,AVpfYWF_ilAPnD_xawZ-,Drew,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Wal...",130.00,130.00,new,White All Leather,2016-06-08T05:29:53Z,2016-06-08T05:29:53Z,"[{""key"":""Shoe Size"",""value"":[""7.5""]},{""key"":""G...",4.400000,"7.5W,12.5M,11.5M,14W,156E,12.5W,10W,10.5M,14M,...",NaN,130.00,None,Walking Shoes
15551,Drew Aaron Men Us 7.5 W Blue Walking Shoe,AVpfYWF_ilAPnD_xawZ-,Drew,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Wal...",148.99,148.99,New,White All Leather,2016-06-08T05:29:53Z,2016-06-08T05:29:53Z,"[{""key"":""Shoe Size"",""value"":[""7.5""]},{""key"":""G...",4.400000,"7.5W,12.5M,11.5M,14W,156E,12.5W,10W,10.5M,14M,...",NaN,148.99,None,Walking Shoes
15552,Drew Aaron Men Us 7.5 W Blue Walking Shoe,AVpfYWF_ilAPnD_xawZ-,Drew,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Wal...",153.95,153.95,New,White All Leather,2016-06-08T05:29:53Z,2016-06-08T05:29:53Z,"[{""key"":""Shoe Size"",""value"":[""7.5""]},{""key"":""G...",4.400000,"7.5W,12.5M,11.5M,14W,156E,12.5W,10W,10.5M,14M,...",NaN,153.95,None,Walking Shoes
3314,Ray Ban Rx7017f Eyeglasses,AVpfIzmPLJeJML433MFr,Ray-Ban,"Accessories,Men,Prescription Eyewear Frames,Co...",111.00,111.00,NaN,NaN,2016-05-20T18:29:19Z,2016-08-17T18:09:23Z,NaN,4.300000,NaN,NaN,111.00,None,Contemporary & Designer
3310,Ray Ban Rx7017f Eyeglasses,AVpfIzmPLJeJML433MFr,Ray-Ban,"Accessories,Men,Prescription Eyewear Frames,Co...",111.00,111.00,NaN,NaN,2016-05-20T18:29:19Z,2016-08-17T18:09:23Z,NaN,4.300000,NaN,NaN,111.00,None,Contemporary & Designer
291,Carrera 90/s Sunglasses,AVpfCNdwLJeJML4308gO,Carrera,"Sunglasses,Accessories,Men,Contemporary & Desi...",149.00,149.00,NaN,"Matte Black,Matte Ruthenium,Light Gold,Semi Me...",2015-10-16T18:52:32Z,2016-07-29T23:08:31Z,NaN,4.090909,NaN,NaN,149.00,None,Contemporary & Designer
284,Carrera 90/s Sunglasses,AVpfCNdwLJeJML4308gO,Carrera,"Sunglasses,Accessories,Men,Contemporary & Desi...",149.00,149.00,NaN,"Matte Black,Matte Ruthenium,Light Gold,Semi Me...",2015-10-16T18:52:32Z,2016-07-29T23:08:31Z,NaN,4.090909,NaN,NaN,149.00,None,Contemporary & Designer
278,Carrera 90/s Sunglasses,AVpfCNdwLJeJML4308gO,Carrera,"Sunglasses,Accessories,Men,Contemporary & Desi...",137.68,137.68,NaN,"Matte Black,Matte Ruthenium,Light Gold,Semi Me...",2015-10-16T18:52:32Z,2016-07-29T23:08:31Z,NaN,4.090909,NaN,NaN,137.68,None,Contemporary & Designer
295,Carrera 90/s Sunglasses,AVpfCNdwLJeJML4308gO,Carrera,"Sunglasses,Accessories,Men,Contemporary & Desi...",137.67,137.67,NaN,"Matte Black,Matte Ruthenium,Light Gold,Semi Me...",2015-10-16T18:52:32Z,2016-07-29T23:08:31Z,NaN,4.090909,NaN,NaN,137.67,None,Contemporary & Designer
14158,Drew Force V Men N Round Toe Leather Athletic...,AVpfYkSp1cnluZ0-jzxY,Drew,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Wal...",130.00,130.00,new,White Leather,2016-11-01T09:53:32Z,2016-11-01T09:53:32Z,"[{""key"":""Shoe Size"",""value"":[""10""]},{""key"":""Ge...",4.000000,"7.5W,12.5M,11.5M,14W,12.5W,10W,10.5M,14M,7M,7....",NaN,130.00,None,Walking Shoes
14160,Drew Force V Men N Round Toe Leather Athletic...,AVpfYkSp1cnluZ0-jzxY,Drew,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Wal...",149.99,149.99,New,White Leather,2016-11-01T09:53:32Z,2016-11-01T09:53:32Z,"[{""key"":""Shoe Size"",""value"":[""10""]},{""key"":""Ge...",4.000000,"7.5W,12.5M,11.5M,14W,12.5W,10W,10.5M,14M,7M,7....",NaN,149.99,None,Walking Shoes
14161,Drew Force V Men N Round Toe Leather Athletic...,AVpfYkSp1cnluZ0-jzxY,Drew,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Wal...",153.95,153.95,New,White Leather,2016-11-01T09:53:32Z,2016-11-01T09:53:32Z,"[{""key"":""Shoe Size"",""value"":[""10""]},{""key"":""Ge...",4.000000,"7.5W,12.5M,11.5M,14W,12.5W,10W,10.5M,14M,7M,7....",NaN,153.95,None,Walking Shoes
13275,Ecco Street Evo One Golf Shoes Mic0622 2014,AVpfSzG3LJeJML436dGx,ECCO,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",151.99,151.99,New,MarineSilver Grey,2015-08-14T18:20:40Z,2016-10-05T16:55:35Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",4.000000,NaN,NaN,151.99,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
14162,Drew Force V Men N Round Toe Leather Athletic...,AVpfYkSp1cnluZ0-jzxY,Drew,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Wal...",147.99,147.99,New,White Leather,2016-11-01T09:53:32Z,2016-11-01T09:53:32Z,"[{""key"":""Shoe Size"",""value"":[""10""]},{""key"":""Ge...",4.000000,"7.5W,12.5M,11.5M,14W,12.5W,10W,10.5M,14M,7M,7....",NaN,147.99,None,Walking Shoes
13277,Ecco Street Evo One Golf Shoes Mic0622 2014,AVpfSzG3LJeJML436dGx,ECCO,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",159.95,159.95,New,MarineSilver Grey,2015-08-14T18:20:40Z,2016-10-05T16:55:35Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",4.000000,NaN,NaN,159.95,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
13276,Ecco Street Evo One Golf Shoes Mic0622 2014,AVpfSzG3LJeJML436dGx,ECCO,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Sne...",153.99,153.99,New,MarineSilver Grey,2015-08-14T18:20:40Z,2016-10-05T16:55:35Z,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Shoe...",4.000000,NaN,NaN,153.99,Sneakers & Athletic Shoes,"Athletic, Sneakers & Athletic Shoes"
12525,Johnston & Murphy Men's Larsey Moc Toe Oxford ...,AVpfepxMLJeJML4396dJ,Johnston & Murphy,"Oxfords,Men,Shoes,Clothing, Shoes & Jewelry",134.95,134.95,New,Black Italian Calfskin,2016-03-26T18:00:00Z,2016-07-17T05:24:25Z,NaN,4.000000,"11W,9W,12W,13W,8.5M,16W,9M,11.5M,8M,14W,9.5M,1...",NaN,134.95,None,Oxfords
13019,New Balance M990 2e Round Toe Suede Running ...,AVpfZMld1cnluZ0-j_hD,New Balance,"Running Shoes,All Men's Shoes,Shoes,Men's Shoe...",131.98,131.98,new,"Denim BlueGrey,Blue",2015-08-14T18:09:09Z,2016-11-15T13:26:10Z,"[{""key"":""Material"",""value"":[""Suede""]},{""key"":""...",3.600000,"162E,124E,152E,122E,164E,154E,134E,7D,12D,10D,...",NaN,131.98,None,Running Shoes
13017,New Balance M990 2e Round Toe Suede Running ...,AVpfZMld1cnluZ0-j_hD,New Balance,"Running Shoes,All Men's Shoes,Shoes,Men's Shoe...",154.95,154.95,New,"Denim BlueGrey,Blue",2015-08-14T18:09:09Z,2016-11-15T13:26:10Z,"[{""key"":""Material"",""value"":[""Suede""]},{""key"":""...",3.600000,"162E,124E,152E,122E,164E,154E,134E,7D,12D,10D,...",NaN,154.95,None,Running Shoes
13018,New Balance M990 2e Round Toe Suede Running ...,AVpfZMld1cnluZ0-j_hD,New Balance,"Running Shoes,All Men's Shoes,Shoes,Men's Shoe...",175.00,175.00,new,"Denim BlueGrey,Blue",2015-08-14T18:09:09Z,2016-11-15T13:26:10Z,"[{""key"":""Material"",""value"":[""Suede""]},{""key"":""...",3.600000,"162E,124E,152E,122E,164E,154E,134E,7D,12D,10D,...",NaN,175.00,None,Running Shoes
4327,New Balance Mw577 Men Us 10.5 4e White Walking...,AVpfLPjyilAPnD_xWjaE,New Balance,"Clothing,Shoes,Men's Shoes,All Men's Shoes,Wal...",154.34,154.34,new,Bone,2015-08-14T18:21:38Z,2016-11-11T09:53:34Z,"[{""key"":""Manufacturer Part Number"",""value"":[""M...",3.600000,"124E,152E,122E,154E,134E,7D,12D,10D,114E,9D,11...",NaN,154.34,None,Walking Shoes
3815,Nike Air Python Premium,AVpe7TeQLJeJML43yeeT,Nike,"Athletic,Team Sports,Men,Basketball,Shoes,Clot...",130.00,175.00,NaN,Brown,2015-10-14T03:06:48Z,2016-03-24T15:37:14Z,NaN,3.500000,NaN,NaN,152.50,None,"Athletic, Team Sports, Basketball"
18472,New Balance Mx626 Men 2e Round Toe Synthetic B...,AVpe5AGtLJeJML43xnjU,New Balance,"All Men's Shoes,Shoes,Men's Shoes,Clothing,Wal...",145.00,145.00,new,Black,2015-08-14T18:18:56Z,2016-11-06T23:58:31Z,"[{""key"":""Material"",""value"":[""Synthetic""]},{""ke...",3.400000,"124E,166E,134E,156E,7D,176E,10D,114E,104E,186E...",NaN,145.00,None,Walking Shoes
17464,Ray-ban Mens 0rb8314 127/8163 Polarized Tech C...,AVpfpwRl1cnluZ0-owQP,Ray-Ban,"Accessories,Sunglasses,Men,Contemporary & Desi...",175.70,175.70,NaN,"Dark Carbon Green,Dark Carbon Brown",2015-07-19T21:40:40Z,2016-04-19T19:15:48Z,NaN,3.000000,NaN,NaN,175.70,None,Contemporary & Designer
17462,Ray-ban Mens 0rb8314 127/8163 Polarized Tech C...,AVpfpwRl1cnluZ0-owQP,Ray-Ban,"Accessories,Sunglasses,Men,Contemporary & Desi...",128.81,128.81,NaN,"Dark Carbon Green,Dark Carbon Brown",2015-07-19T21:40:40Z,2016-04-19T19:15:48Z,NaN,3.000000,NaN,NaN,128.81,None,Contemporary & Designer
17461,Ray-ban Mens 0rb8314 127/8163 Polarized Tech C...,AVpfpwRl1cnluZ0-owQP,Ray-Ban,"Accessories,Sunglasses,Men,Contemporary & Desi...",161.75,161.75,NaN,"Dark Carbon Green,Dark Carbon Brown",2015-07-19T21:40:40Z,2016-04-19T19:15:48Z,NaN,3.000000,NaN,NaN,161.75,None,Contemporary & Designer
17208,Dr Zen Sport 2 Women's Therapeutic Diabetic Ex...,AVpffPERLJeJML43-Es7,Dr. Zen,"Shoes,Clothing, Shoes & Jewelry,Men,Athletic,R...",119.95,119.95,NaN,"White,Black",2015-09-20T21:11:30Z,2016-07-21T08:34:30Z,NaN,2.000000,NaN,NaN,119.95,None,"Athletic, Tennis, Racquet Sports"
12931,Fuerza Mens Winter Down Wellon Collection Dura...,AVpfsk301cnluZ0-plwa,Fuerza,"All Men's Clothing,Men's Clothing,Men's Outerw...",199.00,199.00,NaN,NaN,2016-01-02T03:28:29Z,2016-03-30T20:30:39Z,"[{""key"":""Style"",""value"":[""Parkas""]},{""key"":""Fe...",2.000000,NaN,NaN,199.00,None,Men's Outerwear