Data set __Happiness__

In [1]:
import pandas as pd

In [2]:
happiness_2019=pd.read_csv("C:/Users/annam/OneDrive/Desktop/corso Big Data Analytic/corso-ifoa-machine-learning/MarsalaAnna/happiness_2019.csv")
happiness_2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [3]:
happiness_2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [4]:
print (happiness_2019["Country or region"])

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
155                 South Sudan
Name: Country or region, Length: 156, dtype: object

In [45]:
for i in happiness_2019["Country or region"]:
    print (i)

Finland
Denmark
Norway
Iceland
Netherlands
Switzerland
Sweden
New Zealand
Canada
Austria
Australia
Costa Rica
Israel
Luxembourg
United Kingdom
Ireland
Germany
Belgium
United States
Czech Republic
United Arab Emirates
Malta
Mexico
France
Taiwan
Chile
Guatemala
Saudi Arabia
Qatar
Spain
Panama
Brazil
Uruguay
Singapore
El Salvador
Italy
Bahrain
Slovakia
Trinidad & Tobago
Poland
Uzbekistan
Lithuania
Colombia
Slovenia
Nicaragua
Kosovo
Argentina
Romania
Cyprus
Ecuador
Kuwait
Thailand
Latvia
South Korea
Estonia
Jamaica
Mauritius
Japan
Honduras
Kazakhstan
Bolivia
Hungary
Paraguay
Northern Cyprus
Peru
Portugal
Pakistan
Russia
Philippines
Serbia
Moldova
Libya
Montenegro
Tajikistan
Croatia
Hong Kong
Dominican Republic
Bosnia and Herzegovina
Turkey
Malaysia
Belarus
Greece
Mongolia
North Macedonia
Nigeria
Kyrgyzstan
Turkmenistan
Algeria
Morocco
Azerbaijan
Lebanon
Indonesia
China
Vietnam
Bhutan
Cameroon
Bulgaria
Ghana
Ivory Coast
Nepal
Jordan
Benin
Congo (Brazzaville)
Gabon
Laos
South Africa
Albania
Venezuela
Cambodia
Palestinian Territories
Senegal
Somalia
Namibia
Niger
Burkina Faso
Armenia
Iran
Guinea
Georgia
Gambia
Kenya
Mauritania
Mozambique
Tunisia
Bangladesh
Iraq
Congo (Kinshasa)
Mali
Sierra Leone
Sri Lanka
Myanmar
Chad
Ukraine
Ethiopia
Swaziland
Uganda
Egypt
Zambia
Togo
India
Liberia
Comoros
Madagascar
Lesotho
Burundi
Zimbabwe
Haiti
Botswana
Syria
Malawi
Yemen
Rwanda
Tanzania
Afghanistan
Central African Republic
South Sudan

come faccio a stampare anche la colonna Overall rank??

In [6]:
score=happiness_2019[happiness_2019["Score"]>7.0]
score

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310

In [7]:
score.shape

(16, 9)

In [8]:
corruption= happiness_2019[happiness_2019["Perceptions of corruption"]>0.11]
corruption

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182
21,22,Malta,6.726,1.300,1.520,0.999,0.564,0.375,0.151
23,24,France,6.592,1.324,1.472,1.045,0.436,0.111,0.183
27,28,Saudi Arabia,6.375,1.403,1.357,0.795,0.439,0.080,0.132
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.220,0.167
32,33,Uruguay,6.293,1.124,1.465,0.891,0.523,0.127,0.150
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.240
44,45,Nicaragua,6.105,0.694,1.325,0.835,0.435,0.200,0.127
54,55,Estonia,5.893,1.237,1.528,0.874,0.495,0.103,0.161
57,58,Japan,5.886,1.327,1.419,1.088,0.445,0.069,0.140
63,64,Northern Cyprus,5.718,1.263,1.252,1.042,0.417,0.191,0.162
71,72,Libya,5.525,1.044,1.303,0.673,0.416,0.133,0.152
73,74,Tajikistan,5.467,0.493,1.098,0.718,0.389,0.230,0.144
75,76,Hong Kong,5.430,1.438,1.277,1.122,0.440,0.258,0.287
80,81,Belarus,5.323,1.067,1.465,0.789,0.235,0.094,0.142
87,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114
89,90,Azerbaijan,5.208,1.043,1.147,0.769,0.351,0.035,0.182
94,95,Bhutan,5.082,0.813,1.321,0.604,0.457,0.370,0.167
100,101,Jordan,4.906,0.837,1.225,0.815,0.383,0.110,0.130
104,105,Laos,4.796,0.764,1.030,0.551,0.547,0.266,0.164
111,112,Somalia,4.668,0.000,0.698,0.268,0.559,0.243,0.270
114,115,Burkina Faso,4.587,0.331,1.056,0.380,0.255,0.177,0.113
116,117,Iran,4.548,1.100,0.842,0.785,0.305,0.270,0.125
118,119,Georgia,4.519,0.886,0.666,0.752,0.346,0.043,0.164
119,120,Gambia,4.516,0.308,0.939,0.428,0.382,0.269,0.167
122,123,Mozambique,4.466,0.204,0.986,0.390,0.494,0.197,0.138
124,125,Bangladesh,4.456,0.562,0.928,0.723,0.527,0.166,0.143
130,131,Myanmar,4.360,0.710,1.181,0.555,0.525,0.566,0.172
134,135,Swaziland,4.212,0.811,1.149,0.000,0.313,0.074,0.135
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147

In [9]:
corruption.shape

(51, 9)

In [10]:
corruption.sort()

AttributeError: 'DataFrame' object has no attribute 'sort'

Come faccio a mettere in ordine crescente la serie corruption?

In [11]:
happiness_2019["Overall rank"]
happiness_2019["Country or region"]

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
155                 South Sudan
Name: Country or region, Length: 156, dtype: object

In [61]:
happiness_2019.median(
)

Overall rank                    78.5000
Score                            5.3795
GDP per capita                   0.9600
Social support                   1.2715
Healthy life expectancy          0.7890
Freedom to make life choices     0.4170
Generosity                       0.1775
Perceptions of corruption        0.0855
dtype: float64

In [62]:
median_country=happiness_2019[happiness_2019["Score"]==5.3795]
median_country

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

perch mi stampa solo le etichette di serie e non la row dove Score == 5.3795??