Ricetta girella al cacao

In [6]:
import pandas as pd

In [7]:
ricetta= pd.DataFrame ({
    "Ingrediente": ["Farina",
                   "Fecola",
                   "Zucchero",
                   "Uova"],
    "Quantità": [50, 50, 100, 4]
})
ricetta

  Ingrediente  Quantità
0      Farina        50
1      Fecola        50
2    Zucchero       100
3        Uova         4

In [3]:
ricetta=pd.DataFrame ([
    ["Farina", 50],
    ["Fecola", 50],
    ["Zucchero", 100],
    ["Uova", 4]
],
columns= ["Ingrediente", "Quantità"]
)  
print(ricetta)
ricetta

  Ingrediente  Quantità
0      Farina        50
1      Fecola        50
2    Zucchero       100
3        Uova         4

  Ingrediente  Quantità
0      Farina        50
1      Fecola        50
2    Zucchero       100
3        Uova         4

In [4]:
ricetta ["Ingrediente"]

0      Farina
1      Fecola
2    Zucchero
3        Uova
Name: Ingrediente, dtype: object

In [5]:
ricetta.describe()

         Quantità
count    4.000000
mean    51.000000
std     39.208843
min      4.000000
25%     38.500000
50%     50.000000
75%     62.500000
max    100.000000

In [15]:
  print(ricetta ["Quantità"].min)

<bound method Series.min of 0     50
1     50
2    100
3      4
Name: Quantità, dtype: int64>

Perchè la cella superiore non mi ritorna il MIN?

In [13]:
ricetta.iloc [
    0,0
]

'Farina'

In [14]:
ricetta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingrediente  4 non-null      object
 1   Quantità     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes