Analisi Dataset Waves

In [1]:
import pandas as pd

In [3]:
sv(r'C:\Desktop\Big-Data\corso-ifoa-machine-learning\Valentina-Bossini\file.csv')

FileNotFoundError: [Errno 2] File C:\Desktop\Big-Data\corso-ifoa-machine-learning\Valentina-Bossini\file.csv does not exist: 'C:\\Desktop\\Big-Data\\corso-ifoa-machine-learning\\Valentina-Bossini\\file.csv'

In [2]:
waves = pd.read_csv('file.csv')

FileNotFoundError: [Errno 2] File file.csv does not exist: 'file.csv'

In [5]:
waves = pd.read_csv('waves.csv')
waves

              Date/Time      Hs   Hmax      Tz      Tp  Peak Direction    SST
0      01/01/2017 00:00 -99.900 -99.90 -99.900 -99.900           -99.9 -99.90
1      01/01/2017 00:30   0.875   1.39   4.421   4.506           -99.9 -99.90
2      01/01/2017 01:00   0.763   1.15   4.520   5.513            49.0  25.65
3      01/01/2017 01:30   0.770   1.41   4.582   5.647            75.0  25.50
4      01/01/2017 02:00   0.747   1.16   4.515   5.083            91.0  25.45
...                 ...     ...    ...     ...     ...             ...    ...
43723  30/06/2019 21:30   2.299   3.60   9.281  12.765            94.0  21.95
43724  30/06/2019 22:00   2.075   3.04   9.303  12.722            95.0  21.95
43725  30/06/2019 22:30   2.157   3.43   9.168  12.890            97.0  21.95
43726  30/06/2019 23:00   2.087   2.84   8.706  10.963            92.0  21.95
43727  30/06/2019 23:30   1.926   2.98   8.509  12.228            84.0  21.95

[43728 rows x 7 columns]

In [6]:
waves.describe()

,Hs,Hmax,Tz,Tp,Peak Direction,SST
count,43728.000000,43728.000000,43728.000000,43728.000000,43728.000000,43728.000000
mean,1.041140,1.891779,5.412332,8.794887,97.395310,23.207409
std,4.485922,4.580826,4.739317,5.358859,28.782966,9.813377
min,-99.900000,-99.900000,-99.900000,-99.900000,-99.900000,-99.900000
25%,0.838000,1.410000,4.974000,7.286000,85.000000,21.900000
50%,1.129000,1.900000,5.525000,8.881000,99.000000,23.950000
75%,1.542000,2.600000,6.162000,10.663250,116.000000,26.050000
max,4.257000,7.906000,10.921000,21.121000,358.000000,28.650000

In [8]:
waves.dtypes

Date/Time          object
Hs                float64
Hmax              float64
Tz                float64
Tp                float64
Peak Direction    float64
SST               float64
dtype: object

In [9]:
waves['Hmax']

0       -99.90
1         1.39
2         1.15
3         1.41
4         1.16
         ...
43723     3.60
43724     3.04
43725     3.43
43726     2.84
43727     2.98
Name: Hmax, Length: 43728, dtype: float64

In [11]:
print(waves['Hmax'].unique())

[-99.9     1.39    1.15  ...   3.758   3.151   3.412]

In [12]:
print(waves['Hmax'].unique().size)

2347

In [13]:
print(waves.unique())

AttributeError: 'DataFrame' object has no attribute 'unique'

In [21]:
print(waves['Hmax'])
Heights = waves['Hmax'].unique()
print(Heights)
Heights.sort()
print(Heights)

0       -99.90
1         1.39
2         1.15
3         1.41
4         1.16
         ...
43723     3.60
43724     3.04
43725     3.43
43726     2.84
43727     2.98
Name: Hmax, Length: 43728, dtype: float64
[-99.9     1.39    1.15  ...   3.758   3.151   3.412]
[-99.9     0.51    0.52  ...   7.262   7.327   7.906]

In [30]:
waves[waves['Hmax']>1.39]

              Date/Time     Hs  Hmax     Tz      Tp  Peak Direction    SST
3      01/01/2017 01:30  0.770  1.41  4.582   5.647            75.0  25.50
5      01/01/2017 02:30  0.718  1.61  4.614   6.181            68.0  25.45
18     01/01/2017 09:00  0.684  1.55  5.022   6.691            88.0  25.60
24     01/01/2017 12:00  0.707  1.59  4.314   7.019            97.0  26.00
27     01/01/2017 13:30  0.846  1.51  3.961   7.055            81.0  26.05
...                 ...    ...   ...    ...     ...             ...    ...
43723  30/06/2019 21:30  2.299  3.60  9.281  12.765            94.0  21.95
43724  30/06/2019 22:00  2.075  3.04  9.303  12.722            95.0  21.95
43725  30/06/2019 22:30  2.157  3.43  9.168  12.890            97.0  21.95
43726  30/06/2019 23:00  2.087  2.84  8.706  10.963            92.0  21.95
43727  30/06/2019 23:30  1.926  2.98  8.509  12.228            84.0  21.95

[33171 rows x 7 columns]

In [48]:
Tz_mean = waves['Tz'].mean()
SST_mean = waves['SST'].mean()
waves[waves['Hmax'] > Tz_mean]

              Date/Time     Hs   Hmax     Tz      Tp  Peak Direction    SST
3178   03/08/2017 05:00  3.121  5.630  8.642  13.813           122.0  26.65
4251    3/30/2017 13:30  2.582  5.600  5.608   7.233            43.0  27.05
4256    3/30/2017 16:00  2.565  5.445  5.729   7.350            45.0  27.00
4259    3/30/2017 17:30  3.179  5.447  5.978   8.121            43.0  27.00
4260    3/30/2017 18:00  3.399  6.106  6.261   8.220           -99.9  27.00
...                 ...    ...    ...    ...     ...             ...    ...
37669  24/02/2019 18:30  3.317  5.990  6.822  11.459           113.0  26.30
37670  24/02/2019 19:00  3.183  5.553  6.562  12.755           111.0  26.25
37675  24/02/2019 21:30  3.039  5.944  6.666  10.815           105.0  26.20
37689  25/02/2019 04:30  2.748  5.487  6.448  10.834           109.0  26.25
43560  27/06/2019 12:00  2.422  5.600  5.864   7.872            84.0  21.75

[136 rows x 7 columns]

In [46]:
SST_mean = waves ['SST'].mean()
print(SST_mean)

23.207409440175255

In [54]:
Tz_mean = waves['Tz'].mean()
SST_mean = waves['SST'].mean()
waves = waves[waves['Tz'] > Tz_mean]
waves

              Date/Time     Hs   Hmax     Tz      Tp  Peak Direction    SST
345    01/08/2017 04:30  2.077  3.660  6.387   7.999           101.0  25.85
347    01/08/2017 05:30  2.243  3.637  6.281   9.197           101.0  25.80
353    01/08/2017 08:30  2.020  3.170  6.321   8.226            95.0  25.90
355    01/08/2017 09:30  2.023  3.240  6.360   8.459            95.0  25.95
375    01/08/2017 19:30  1.714  2.580  6.275   8.912            98.0  26.10
...                 ...    ...    ...    ...     ...             ...    ...
43723  30/06/2019 21:30  2.299  3.600  9.281  12.765            94.0  21.95
43724  30/06/2019 22:00  2.075  3.040  9.303  12.722            95.0  21.95
43725  30/06/2019 22:30  2.157  3.430  9.168  12.890            97.0  21.95
43726  30/06/2019 23:00  2.087  2.840  8.706  10.963            92.0  21.95
43727  30/06/2019 23:30  1.926  2.980  8.509  12.228            84.0  21.95

[9789 rows x 7 columns]

In [64]:
new_waves = waves[waves['SST']> SST_mean]
new_waves

,Date/Time,Hs,Hmax,Tz,Tp,Peak Direction,SST,percent_diverge
345,01/08/2017 04:30,2.077,3.660,6.387,7.999,101.0,25.85,0.567486
347,01/08/2017 05:30,2.243,3.637,6.281,9.197,101.0,25.80,0.616717
353,01/08/2017 08:30,2.020,3.170,6.321,8.226,95.0,25.90,0.637224
355,01/08/2017 09:30,2.023,3.240,6.360,8.459,95.0,25.95,0.624383
375,01/08/2017 19:30,1.714,2.580,6.275,8.912,98.0,26.10,0.664341
...,...,...,...,...,...,...,...,...
41259,10/05/2019 13:30,0.953,1.670,6.645,9.343,88.0,24.40,0.570659
41260,10/05/2019 14:00,0.982,1.570,6.497,9.625,90.0,24.30,0.625478
41261,10/05/2019 14:30,0.955,1.550,6.633,9.329,91.0,24.25,0.616129
41264,10/05/2019 16:00,0.975,1.720,6.271,9.742,90.0,24.15,0.566860
41265,10/05/2019 16:30,1.095,1.810,6.488,9.700,95.0,24.15,0.604972

In [66]:
new_waves['Hs'].max()

4.217

In [72]:
new_waves['Hs'].min()

0.513

In [69]:
new_waves['percent_diverge'] = new_waves['Hs']/new_waves['Hmax']*100

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
new_waves['percent_diverge'] = new_waves['Hs']/new_waves['Hmax']*100

C:\Users\bossi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
for i in new_waves['percent_diverge'].items():
    i = i*100
print(i)

(41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077, 41265, 60.49723756906077)